.container-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* 设置容器高度为视口高度 */
    overflow: hidden;
}

.left-s, .right-s {
    flex: 1; /* 平分剩余空间 */
    display: flex;
    flex-direction: column; /* 垂直方向布局 */
    justify-content: flex-end; /* 图片靠右显示 */
}

.center-s {
    flex: 0.5; /* 占据2份空间 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-s img {
    max-width: 100%; /* 图片宽度最大不超过容器宽度 */
    height: auto; /* 根据宽度自适应高度 */
    display: block;
}

.left-s img:last-child, .right-s img:first-child {
    margin-top: auto; /* 推动图片与中间图片等距离 */
    margin-bottom: auto; /* 推动图片与中间图片等距离 */
}
