<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Contact</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png"/>
    <link rel="manifest" href="../static/images/favicons/site.webmanifest"/>
    <meta name="description" content="Crsine HTML Template For Car Services"/>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shadows+Into+Light&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/plugins/animate/animate.min.css"/>
    <link rel="stylesheet" href="../static/plugins/animate/custom-animate.css"/>
    <link rel="stylesheet" href="../static/plugins/fontawesome/css/all.min.css"/>
    <link rel="stylesheet" href="../static/plugins/jarallax/jarallax.css"/>
    <link rel="stylesheet" href="../static/plugins/jquery-magnific-popup/jquery.magnific-popup.css"/>
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.min.css"/>
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.pips.css"/>
    <link rel="stylesheet" href="../static/plugins/odometer/odometer.min.css"/>
    <link rel="stylesheet" href="../static/plugins/swiper/swiper.min.css"/>
    <link rel="stylesheet" href="../static/plugins/icomoon-icons/style.css">
    <link rel="stylesheet" href="../static/plugins/tiny-slider/tiny-slider.min.css"/>
    <link rel="stylesheet" href="../static/plugins/reey-font/stylesheet.css"/>
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../static/plugins/twentytwenty/twentytwenty.css"/>

    <!-- template styles -->
    <link rel="stylesheet" href="../static/css/agriox.css"/>
    <link rel="stylesheet" href="../static/css/agriox-responsive.css"/>

</head>

<body>

<div class="preloader">
    <img class="preloader__image" width="60" src="../static/images/loader.png" alt=""/>
</div>

<!-- /.preloader -->
<div class="page-wrapper">

    <header class="main-header main-header--one  clearfix">
        <div class="main-header--one__wrapper">
            <div class="main-header--one__bottom clearfix">
                <div class="auto-container">
                    <div class="main-header--one__bottom-inner">
                        <nav class="main-menu main-menu--1">
                            <div class="main-menu__inner">
                                <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

                                <div class="stricky-one-logo">
                                    <div class="logo">
                                        <a href="../index"><img src="../static/images/logo/Logo-us-small.png" alt=""/></a>
                                    </div>
                                </div>

                                <div class="main-header--one__bottom-left">
                                    <ul class="main-menu__list">
                                        <li class="dropdown">
                                            <a href="../index">首页</a>
                                        </li>
                                        <li><a href="../trace">溯源</a></li>
                                        <li class="dropdown">
                                            <a href="#">过程</a>
                                            <ul>
                                                <li><a href="../services">All Services</a></li>
                                                <li><a href="../sow">Agriculture Products</a>
                                                </li>
                                                <li><a href="../transport">Fresh Vegetable</a></li>
                                                <li><a href="../cook">Organic Products</a></li>
                                                <li><a href="../effect">Dairy Products</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">旅游</a>
                                            <ul>
                                                <li><a href="travel.html">Farmers</a></li>
                                                <li><a href="../kepu">Projects</a></li>
                                                <li><a href="../safety">Projects Details</a></li>
                                                <li><a href="../question">Faq</a></li>
                                                <li><a href="../Pet_shop">植宠商店</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">博客</a>
                                            <ul>
                                                <li><a href="../zhishitupu">菌菇类作物</a></li>
                                                <li><a href="../information">粮食类作物</a></li>
                                                <li><a href="../news-details">油料类作物</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>

                        <div class="main-header--one__bottom-middel">
                            <div class="logo">
                                <a href="../index"><img src="../static/images/logo/Logo-us-small.png" alt=""/></a>
                            </div>
                        </div>

                        <div class="main-header--one__bottom-right clearfix">
                            <div class="search-cart">
                                <a href="#" class="search search-toggler"><span
                                        class="icon-magnifying-glass"></span></a>
                                <a href="../Pet_shop" class="cart"><span class="icon-shopping-cart"></span></a>
                            </div>

                            <div class="contact-box">
                                <div class="">
                                    <a href="#"><i class="fa fa-user"
                                                   style="font-size: 35px;margin-top: 8px;margin-right:30px"></i></a>
                                </div>
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-body dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ request.session.info.name }}
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li style="margin-bottom: 10px"><a class="dropdown-item" href="#">注销</a></li>
                                            <li style="margin-bottom: 10px"><a class="dropdown-item" href="#">个人中心</a></li>

                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>


    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content">

        </div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

    <!--Page Header Start-->
    <section class="page-header clearfix"
             style="background-image: url(../static/images/backgrounds/page-header-bg.jpg);">
        <div class="container">
            <div class="page-header__inner text-center clearfix">
                <ul class="thm-breadcrumb">
                    <li><a href="../index">Home</a></li>
                    <li>Contact</li>
                </ul>
                <h2>Contact Us</h2>
            </div>
        </div>
    </section>
    <!--Page Header End-->


    <!--Start Contact Page-->
    <section class="contact-page">
        <div class="container">
            <div class="row">
                <!--Start Contact Page Left-->
                <div class="col-xl-4 col-lg-4">
                    <div class="contact-page__left">
                        <div class="sec-title">
                            <div class="icon">
                                <img src="../static/images/resources/sec-title-icon1.png" alt="">
                            </div>
                            <span class="sec-title__tagline">Contact now</span>
                            <h2 class="sec-title__title">Get in Touch <br>with Us</h2>
                        </div>
                        <p class="contact-page__left-text">We are committed to providing our customers with exceptional
                            service while offering our employees the best training.</p>
                        <div class="contact-page__social-link">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End Contact Page Right-->

                <!--Start Contact Page Right-->
                <div class="col-xl-8 col-lg-8">
                    <div class="contact-page__right">
                        <form action="../static/inc/sendemail.php" class="comment-one__form contact-form-validated"
                              novalidate="novalidate">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="comment-form__input-box">
                                        <input type="text" placeholder="Your name" name="name">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="comment-form__input-box">
                                        <input type="email" placeholder="Email address" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="comment-form__input-box">
                                        <input type="text" placeholder="Phone number" name="phone">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="comment-form__input-box">
                                        <input type="email" placeholder="Subject" name="Subject">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="comment-form__input-box">
                                        <textarea name="message" placeholder="Write message"></textarea>
                                    </div>
                                    <button type="submit" class="thm-btn comment-form__btn"
                                            style="width:350px;float: left">登录
                                    </button>
                                    <button type="submit" class="thm-btn comment-form__btn "
                                            style="width:350px;float: right">注册
                                    </button>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!--End Contact Page Right-->
            </div>
        </div>
    </section>
    <!--End Contact Page-->


    <!--Start Contact Page Contact Info-->
    <section class="contact-page__contact-info clearfix">
        <div class="auto-container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact-page__contact-info-wrapper">
                        <div class="contact-page__contact-info-title">
                            <h2>Get in Touch</h2>
                        </div>

                        <div class="contact-page__contact-info-list">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <span class="icon-map"></span>
                                    </div>
                                    <div class="title">
                                        <span>Visit Our Store</span>
                                        <p>88 broklyn street, New York</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="icon">
                                        <span class="icon-email-1"></span>
                                    </div>
                                    <div class="title">
                                        <span>Send Email</span>
                                        <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                    </div>
                                </li>

                                <li>
                                    <div class="icon phone">
                                        <span class="icon-phone-call-2"></span>
                                    </div>
                                    <div class="title">
                                        <span>Call Anytime</span>
                                        <p><a href="tel:123456789">666 888 0000</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact Page Contact Info-->


    <!--Contact Page Google Map Start-->
    <section class="contact-page-google-map">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
                class="contact-page-google-map__one" allowfullscreen></iframe>
    </section>
    <!--Contact Page Google Map End-->


    <!--Start Footer One-->
    <footer class="footer-one">
        <div class="footer-one__top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-one__top-wrapper">
                                <div class="footer-one__bg"><img src="../static/images/backgrounds/footer-one-bg.png"
                                                                 alt=""/></div>
                                <div class="row">
                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s">
                                        <div class="footer-widget__column footer-widget__about">
                                            <div class="footer-widget__about-logo">
                                                <a href="../index"><img
                                                        src="../static/images/logo/logo-us-medium.png"
                                                        alt=""></a>
                                            </div>
                                            <p class="footer-widget__about-text">食为人天，农为正本。</p>
                                            <div class="footer-widget__about-contact-box">
                                                <p class="phone"><a href="tel:123456789"><i
                                                        class="fas fa-phone-square-alt"></i>+86 XXX-XXXX-XXXX</a></p>
                                                <p><a href="mailto:needhelp@company.com"><i
                                                        class="fa fa-envelope"></i>Shiyuanzhilv@SYZL.com</a></p>
                                                <p class="text"><i class="fas fa-map-marker-alt"></i>中国-上海</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s">
                                        <div class="footer-widget__column footer-widget__news">
                                            <h2 class="footer-widget__title">最新资讯</h2>
                                            <ul class="footer-widget__news-list">
                                                <li class="footer-widget__news-list-item">
                                                    <div class="footer-widget__news-list-item-img">
                                                        <img src="../static/images/resources/trace_bottom_1.png"
                                                             alt=""/>
                                                    </div>
                                                    <div class="footer-widget__news-list-item-title">
                                                        <p>4 March, 2024</p>
                                                        <h5><a href="https://www.moa.gov.cn/xw/qg/202403/t20240304_6450629.htm" target="_blank">“国字号”现代农业产业园带<br> 动作用有多强</a></h5>
                                                    </div>
                                                </li>

                                                <li class="footer-widget__news-list-item">
                                                    <div class="footer-widget__news-list-item-img">
                                                        <img src="../static/images/resources/trace_bottom_2.png"
                                                             alt=""/>
                                                    </div>
                                                    <div class="footer-widget__news-list-item-title">
                                                        <p>4 March, 2024</p>
                                                        <h5><a href="https://www.moa.gov.cn/xw/qg/202403/t20240304_6450592.htm" target="_blank">春种一粒粟 秋收万颗子——<br> 北京海淀区植物组织培养技<br>术实验室育种核心技术助力<br>春播备耕</a></h5>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-2 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.5s">
                                        <div class="footer-widget__column footer-widget__explore">
                                            <h2 class="footer-widget__title">探索更多</h2>
                                            <ul class="footer-widget__explore-list">
                                                <li class="footer-widget__explore-list-item"><a href="../kepu">菜 品 溯 源</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="../services">食 品 安 全</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="../templates/about.html">特 色 种 植</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="#">高 新 作 物</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="#">科 技 前 沿</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-4 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.7s">
                                        <div class="footer-widget__column footer-widget__newletter">
                                            <h2 class="footer-widget__title">站点帮助</h2>
                                            <p class="footer-widget__newletter-text">在下方输入站点名称或相关信息，即可帮助您快速到达本网站各处！</p>
                                            <form class="subscribe-form" action="#">
                                                <input type="text" name="text" placeholder="输入站点">
                                                <button type="submit">Go</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <!--Start Footer One Bottom-->

        <!--End Footer One Bottom-->
    </footer>
    <!--End Footer One-->

</div><!-- /.page-wrapper -->


<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

        <div class="logo-box">
            <a href="../index" aria-label="logo image"><img src="../static/images/resources/mobilemenu_logo.png"
                                                              width="155" alt=""/></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="icon-phone-call"></i>
                <a href="mailto:needhelp@packageName__.com">needhelp@agriox.com</a>
            </li>
            <li>
                <i class="icon-letter"></i>
                <a href="tel:666-888-0000">666 888 0000</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-pinterest-p"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->
    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->


<div class="search-popup">
    <div class="search-popup__overlay search-toggler"></div>
    <!-- /.search-popup__overlay -->
    <div class="search-popup__content">
        <form action="#">
            <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
            <input type="text" id="search" placeholder="Search Here..."/>
            <button type="submit" aria-label="search submit" class="thm-btn2">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <!-- /.search-popup__content -->
</div>
<!-- /.search-popup -->


<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow-2"></i></a>


<script src="../static/plugins/jquery/jquery-3.5.1.min.js"></script>
<script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/plugins/jarallax/jarallax.min.js"></script>
<script src="../static/plugins/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
<script src="../static/plugins/jquery-appear/jquery.appear.min.js"></script>
<script src="../static/plugins/jquery-circle-progress/jquery.circle-progress.min.js"></script>
<script src="../static/plugins/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="../static/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="../static/plugins/nouislider/nouislider.min.js"></script>
<script src="../static/plugins/odometer/odometer.min.js"></script>
<script src="../static/plugins/swiper/swiper.min.js"></script>
<script src="../static/plugins/tiny-slider/tiny-slider.min.js"></script>
<script src="../static/plugins/wnumb/wNumb.min.js"></script>
<script src="../static/plugins/wow/wow.js"></script>
<script src="../static/plugins/isotope/isotope.js"></script>
<script src="../static/plugins/countdown/countdown.min.js"></script>
<script src="../static/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="../static/plugins/twentytwenty/twentytwenty.js"></script>
<script src="../static/plugins/twentytwenty/jquery.event.move.js"></script>
<script src="../static/plugins/parallax/parallax.min.js"></script>
<script src="../static/plugins/tilt.js/tilt.jquery.js"></script>


<script src="https://ditu.google.cn/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>

<!-- template js -->
<script src="../static/js/agriox.js"></script>


</body>

</html>