<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>烹调艺术</title>
    <!-- favicons Icons -->
    <style>
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .slow-appear {
            opacity: 0; /* 初始状态为完全透明 */
            animation: fadeIn 10s forwards; /* 应用动画，持续2秒，动画结束后保持最后一帧的状态 */
        }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png"/>
    <link rel="manifest" href="../static/images/favicons/site.webmanifest"/>
    <meta name="description" content="Crsine HTML Template For Car Services"/>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shadows+Into+Light&display=swap"
            rel="stylesheet">


    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/plugins/animate/animate.min.css"/>
    <link rel="stylesheet" href="../static/plugins/animate/custom-animate.css"/>
    <link rel="stylesheet" href="../static/plugins/fontawesome/css/all.min.css"/>
    <link rel="stylesheet" href="../static/plugins/jarallax/jarallax.css"/>
    <link rel="stylesheet" href="../static/plugins/jquery-magnific-popup/jquery.magnific-popup.css"/>
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.min.css"/>
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.pips.css"/>
    <link rel="stylesheet" href="../static/plugins/odometer/odometer.min.css"/>
    <link rel="stylesheet" href="../static/plugins/swiper/swiper.min.css"/>
    <link rel="stylesheet" href="../static/plugins/icomoon-icons/style.css">
    <link rel="stylesheet" href="../static/plugins/tiny-slider/tiny-slider.min.css"/>
    <link rel="stylesheet" href="../static/plugins/reey-font/stylesheet.css"/>
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../static/plugins/twentytwenty/twentytwenty.css"/>

    <!-- template styles -->
    <link rel="stylesheet" href="../static/css/agriox.css"/>
    <link rel="stylesheet" href="../static/css/agriox-responsive.css"/>


</head>

<body>

<div class="preloader">
    <img class="preloader__image" width="60" src="../static/images/loader.png" alt=""/>
</div>

<!-- /.preloader -->
<div class="page-wrapper">

    <header class="main-header main-header--one  clearfix">
        <div class="main-header--one__wrapper">


            <div class="main-header--one__bottom clearfix">
                <div class="auto-container">
                    <div class="main-header--one__bottom-inner">
                        <nav class="main-menu main-menu--1">
                            <div class="main-menu__inner">
                                <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

                                <div class="stricky-one-logo">
                                    <div class="logo">
                                        <a href="../index"><img src="../static/images/logo/Logo-us-small.png"
                                                                alt=""/></a>
                                    </div>
                                </div>

                                <div class="main-header--one__bottom-left">
                                    <ul class="main-menu__list">
                                        <li class="dropdown">
                                            <a href="../index">首页</a>

                                        </li>
                                        <li><a href="../trace">溯源</a></li>
                                        <li class="dropdown">
                                            <a href="../services">耕养运烹</a>
                                            <ul>

                                                <li>
                                                <li><a href="../sow">沃土丰熟</a>
                                                </li>
                                                <li><a href="../transport">精密物流</a></li>
                                                <li><a href="../cook">烹调艺术</a></li>
                                                <li><a href="../effect">健康食效</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">发现</a>
                                            <ul>
                                                <li><a href="../travel">旅游指南</a></li>
                                                <li><a href="../kepu">作物科普</a></li>
                                                <li><a href="../safety">食物安全查询</a></li>
                                                <li><a href="../question">问题查询</a></li>
                                                <li><a href="../Pet_shop">植宠商店</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="http://127.0.0.1:5502/app01/templates/zhishitupu.html">识海星图</a>
                                            <ul>
                                                <li><a href="http://127.0.0.1:5502/app01/templates/zhishitupu.html">菌菇类作物</a></li>
                                                <li><a href="../information">粮食类作物</a></li>
                                                <li><a href="../news-details">油料类作物</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../policy">政策资讯</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>

                        <div class="main-header--one__bottom-middel">
                            <div class="logo">
                                <a href="../index"><img src="../static/images/logo/Logo-us-small.png" alt=""/></a>
                            </div>
                        </div>

                        <div class="main-header--one__bottom-right clearfix">
                            <div class="search-cart">
                                <a href="#" class="search search-toggler"><span
                                        class="icon-magnifying-glass"></span></a>
                                <a href="../Pet_shop" class="cart "><span
                                        class="icon-shopping-cart"></span></a>
                            </div>
                            <div class="contact-box">
                                <div class="">
                                    <a href="#"><i class="fa fa-user"
                                                   style="font-size: 35px;margin-top: 8px;margin-right:30px"></i></a>
                                </div>
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-body dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ request.session.info.name }}
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li style="margin-bottom: 10px"><a class="dropdown-item" href="#">注销</a>
                                            </li>
                                            <li style="margin-bottom: 10px"><a class="dropdown-item"
                                                                               href="#">个人中心</a></li>

                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>


    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content">

        </div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

    <!--Page Header Start-->
    <section class="page-header clearfix"
             style="background-image: url(../static/images/backgrounds/page-header-bg.jpg);">
        <div class="container">
            <div class="page-header__inner text-center clearfix">
                <ul class="thm-breadcrumb">
                    <li><a href="../index">首页</a></li>
                    <!-- <li>Services</li> -->
                    <li>烹调艺术</li>
                </ul>
                <h2>烹调艺术</h2>
            </div>
        </div>
    </section>
    <!--Page Header End-->


    <!--Start Services Details-->
    <section class="services-details_header">
        <div class="container">
            <div class="row">
                <!--Start Services Details Sidebar-->
                <div class="col-xl-4 col-lg-4">
                    <div class="services-details__sidebar">
                        <!--Start Services Details Sidebar Single-->
                        <div class="services-details__sidebar-single">
                            <div class="services-details__sidebar-single-services wow fadeInUp animated animated animated"
                                 data-wow-delay="0.05s" data-wow-duration="500m">
                                <div class="title">

                                    <h2 class="slow-appear">烹调艺术 - 松茸</h2>
                                </div>
                                <ul>
                                    <li><a href="../sow">沃土丰熟 <i
                                            class="fa fa-angle-right"></i></a></li>
                                    <li><a href="../transport">精密物流 <i
                                            class="fa fa-angle-right"></i></a></li>
                                    <li><a href="../cook">烹调艺术 <i
                                            class="fa fa-angle-right"></i></a></li>
                                    <li><a href="../effect">健康食效 <i
                                            class="fa fa-angle-right"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <!--End Services Details Sidebar Single-->

                        <!--Start Services Details Sidebar Single-->

                        <!--End Services Details Sidebar Single-->

                        <!--Start Services Details Sidebar Single-->
                        <!--End Services Details Sidebar Single-->
                    </div>
                </div>
                <!--End Services Details Sidebar-->

                <!--Start Services Details Content-->
                <div class="col-xl-8 col-lg-8">
                    <div class="services-details__content-img">
                        <img src="../static/images/trace/cook-1.jpg" alt="" style="height: 371px;border-radius: 10px"/>
                    </div>
                </div>
                <!--End Services Details Content-->
            </div>

        </div>

    </section>
    <!--End Services Details-->


    <section class="services-details">
            <div class="container">
                <div class="services-details__content">

                    <h2 class="services-details__content-title"><span class="icon-harvest"
                                                                      style="padding-right: 10px"></span>烹饪概述 - 松茸</h2>

                    <p class="services-details__content-text1" style="text-indent:2em">
                        松茸是一种珍贵的食材，以其独特的香气和口感著称，广受各地美食爱好者的青睐。
                        在烹饪方面，松茸的使用非常灵活，既可以作为主料，也可以作为配料，增添菜品的风味。
                        中式烹饪中，松茸常与其他食材搭配，如在松茸清汤中展现其清香，或与虾仁、鸡肉等一起炒制，突出其鲜美。
                        西式烹饪中，松茸可用于意大利面、烤肉、奶油汤等，其香气能与奶油、酒等调料相得益彰。
                        在简餐轻食中，松茸则多以清淡的形式出现，如松茸牛油果沙拉、鸡肉卷等，展现其自然的风味。
                    </p>
                </div>

                <br>

                <div>
                    <h2 class="services-details__content-title"><span class="icon-harvest"
                                                                      style="padding-right: 10px"></span>烹饪菜谱 - 松茸</h2>
                    <p class="services-details__content-text" style=" margin-bottom: 10px;text-indent:2em">中式烹饪中，松茸常与其他食材搭配，如在松茸清汤中展现其清香，或与虾仁、鸡肉等一起炒制，突出其鲜美。
                        西式烹饪中，松茸可用于意大利面、烤肉、奶油汤等，其香气能与奶油、酒等调料相得益彰。
                        在简餐轻食中，松茸则多以清淡的形式出现，如松茸牛油果沙拉、鸡肉卷等，展现其自然的风味。</p>
                    <section class="projects-one projects-one--two projects-one--two--projects">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="projects-one--two--projects__wrapper">
                        <div class="row">
                            <!--Start Single Projects One-->
                            <div class="col-xl-3 col-lg-3 col-md-2">
                                <h1>中式烹饪</h1>
                                <div><img src="../static/pics/cook/Chinese.png" width="180" height="180" style="display: flex;"></div>
                                <button id="" class="thm-btn" style="margin: 0 auto">查看更多</button>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-5">
                                <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms"
                                     data-wow-duration="1500ms">
                                    <div class="projects-one__single-img">
                                        <img src="../static/pics/cook/sr-qingtang.jpg" alt=""/>
                                        <div class="overlay-content">
                                            <p><a style="font-size: 14px;">松茸清汤</a></p>
                                            <h3 style="font-size: 16px;"><a href="projects-details.html">将松茸切片，用清水煮沸后加入鸡汤、盐、鸡精和葱姜，煮至松茸软熟，清香四溢。</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>              <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="col-xl-3 col-lg-3 col-md-5">
                                <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms"
                                     data-wow-duration="1500ms">
                                    <div class="projects-one__single-img">
                                        <img src="../static/pics/cook/sr-chaoxiaren.jpg" alt=""/>
                                        <div class="overlay-content">
                                            <p><a style="font-size: 14px;">松茸炒虾仁</a></p>
                                            <h3 style="font-size: 16px;"><a href="projects-details.html">将松茸切片和虾仁一起用盐、胡椒粉、蛋白和淀粉腌制，然后快速炒熟，最后加入葱花和调味料。</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xl-3 col-lg-3 col-md-5">
                                <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms"
                                     data-wow-duration="1500ms">
                                    <div class="projects-one__single-img">
                                        <img src="../static/pics/cook/sr-zhengji.jpg" alt=""/>
                                        <div class="overlay-content">
                                            <p><a style="font-size: 14px;">松茸蒸鸡</a></p>
                                            <h3 style="font-size: 16px;"><a href="projects-details.html">将松茸切片铺在鸡肉上，加入姜片、葱段和调味料，一起蒸熟，鸡肉鲜嫩，松茸香气浓郁。</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="col-xl-3 col-lg-3 col-md-2">
                                <h1>西式风情</h1>
                                <div><img src="../static/pics/cook/western.png" width="180" height="170" style="display: flex;"></div>
                                <button id="" class="thm-btn" style="margin: 0 auto">查看更多</button>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-5">
                                <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms"
                                     data-wow-duration="1500ms">
                                    <div class="projects-one__single-img">
                                        <img src="../static/pics/cook/sr-yimian.jpg" alt=""/>
                                        <div class="overlay-content">
                                            <p><a style="font-size: 14px;">松茸意面</a></p>
                                            <h3 style="font-size: 16px;"><a href="projects-details.html">将松茸切片炒香，加入奶油和白葡萄酒煮沸，然后拌入煮熟的意大利面，撒上帕尔马干酪碎。</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="col-xl-3 col-lg-3 col-md-5">
                                <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms"
                                     data-wow-duration="1500ms">
                                    <div class="projects-one__single-img">
                                        <img src="../static/pics/cook/sr-kaojixiong.jpg" alt=""/>
                                        <div class="overlay-content">
                                            <p><a style="font-size: 14px;">松茸烤鸡胸</a></p>
                                            <h3 style="font-size: 16px;"><a href="projects-details.html">将松茸切片放在鸡胸肉上，加入迷迭香、橄榄油和盐，烤制至鸡肉金黄。</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xl-3 col-lg-3 col-md-5">
                                <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms"
                                     data-wow-duration="1500ms">
                                    <div class="projects-one__single-img">
                                        <img src="../static/pics/cook/sr-naiyoutang.jpg" alt=""/>
                                        <div class="overlay-content">
                                            <p><a style="font-size: 14px;">松茸奶油汤</a></p>
                                            <h3 style="font-size: 16px;"><a href="projects-details.html">用牛奶和鲜奶油煮沸，加入切片的松茸、洋葱碎和蒜末，慢炖至浓郁，最后加入盐和胡椒调味。</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class=" col-xl-3 col-lg-3 col-md-2">
                                <h1>简餐轻食</h1>
                                <div><img src="../static/pics/cook/simple.png" width="180" height="180" style="display: flex;"></div>
                                <button id="" class="thm-btn" style="margin: 0 auto">查看更多</button>
                            </div>
                            <div class=" col-xl-3 col-lg-3 col-md-5">
                                <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms"
                                     data-wow-duration="1500ms">
                                    <div class="projects-one__single-img">
                                        <img src="../static/pics/cook/sr-shala.jpg" alt=""/>
                                        <div class="overlay-content">
                                            <p><a style="font-size: 14px;">松茸牛油果沙拉</a></p>
                                            <h3 style="font-size: 16px;"><a href="projects-details.html">将松茸切片和牛油果切块混合，加入橄榄油、柠檬汁、盐和黑胡椒拌匀。</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xl-3 col-lg-3 col-md-5">
                                <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms"
                                     data-wow-duration="1500ms">
                                    <div class="projects-one__single-img">
                                        <img src="../static/pics/cook/sr-jiroujuan.jpg" alt=""/>
                                        <div class="overlay-content">
                                            <p><a style="font-size: 14px;">松茸鸡肉卷</a></p>
                                            <h3 style="font-size: 16px;"><a href="projects-details.html">将鸡胸肉片薄，放上松茸片和少许调味料，卷起后用牙签固定，煎至两面金黄。</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class=" col-xl-3 col-lg-3 col-md-5">
                                <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms"
                                     data-wow-duration="1500ms">
                                    <div class="projects-one__single-img">
                                        <img src="../static/pics/cook/sr-dantang.jpg" alt=""/>
                                        <div class="overlay-content">
                                            <p><a style="font-size: 14px;">松茸蛋汤</a></p>
                                            <h3 style="font-size: 16px;"><a href="projects-details.html">将松茸切片煮软，加入打散的鸡蛋液，用小火煮至蛋花成形，最后加入盐和葱花调味。</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
                </div>
                <div class="services-details__content">

                    <h2 class="services-details__content-title"><span class="icon-harvest"
                                                                      style="padding-right: 10px"></span>烹饪营养 - 松茸</h2>

                    <p class="services-details__content-text1" style="text-indent:2em">菜品营养计算器是一款便捷实用的工具，用户只需选择菜品并输入克数，即可获得详尽的营养信息。通过清晰的百分比展示，用户可以直观了解所摄入食物对日常营养需求的贡献。同时，多种可视化选项如折线图、饼图和助柱状图，帮助我们更直观地比较不同菜品可提供的营养价值，助力健康饮食选择。</p>
                    <section>
    <div class="col-xl-8 col-lg-8" style="margin: 0 auto">
        <div id="input-container" class="container gutter-y-30">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="food-select" class="form-label ">选择食材:</label>
                <select id="food-select" class="form-control bootstrap-select form-select">
                    <option value="" selected disabled>请选择...</option>
                    <!-- 其他选项 -->
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="food-weight" class="form-label">食材重量 (克):</label>
                <input type="number" id="food-weight" class="form-control " min="50" value="100">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">图表类型:</label>
                <select id="chart-type" class="form-control bootstrap-select form-select">
                    <option value="line">折线图</option>
                    <option value="bar">柱状图</option>
                    <option value="pie">饼图</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <button id="submit" class="thm-btn" style="margin-top:30px ">生成图表</button>
        </div>
    </div>
</div>
        <div id="chart-container" STYLE="width: 100%;height: 400px"></div>

        <!--End Contact Page Right-->
    </div>
        </section>
                </div>
            </div>
        </section>

    <!--Projects One Start-->
    <!--Projects One End-->
    <!--Start Contact Page Right-->


    <!--End Contact Page-->


    <!--Start Footer One-->
    <footer class="footer-one">
        <div class="footer-one__top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-one__top-wrapper">
                            <div class="footer-one__bg"><img src="../static/images/backgrounds/footer-one-bg.png"
                                                             alt=""/></div>
                            <div class="row">
                                <!--Start Footer Widget Column-->
                                <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s">
                                    <div class="footer-widget__column footer-widget__about">
                                        <div class="footer-widget__about-logo">
                                            <a href="../index"><img
                                                    src="../static/images/logo/logo-us-medium.png"
                                                    alt=""></a>
                                        </div>
                                        <p class="footer-widget__about-text">食为人天，农为正本。</p>
                                        <div class="footer-widget__about-contact-box">
                                            <p class="phone"><a href="tel:123456789"><i
                                                    class="fas fa-phone-square-alt"></i>+86 XXX-XXXX-XXXX</a></p>
                                            <p><a href="mailto:needhelp@company.com"><i
                                                    class="fa fa-envelope"></i>Shiyuanzhilv@SYZL.com</a></p>
                                            <p class="text"><i class="fas fa-map-marker-alt"></i>中国-上海</p>
                                        </div>
                                    </div>
                                </div>
                                <!--End Footer Widget Column-->

                                <!--Start Footer Widget Column-->
                                <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s">
                                    <div class="footer-widget__column footer-widget__news">
                                        <h2 class="footer-widget__title">最新资讯</h2>
                                        <ul class="footer-widget__news-list">
                                            <li class="footer-widget__news-list-item">
                                                <div class="footer-widget__news-list-item-img">
                                                    <img src="../static/images/resources/trace_bottom_1.png"
                                                         alt=""/>
                                                </div>
                                                <div class="footer-widget__news-list-item-title">
                                                    <p>4 March, 2024</p>
                                                    <h5>
                                                        <a href="https://www.moa.gov.cn/xw/qg/202403/t20240304_6450629.htm"
                                                           target="_blank">“国字号”现代农业产业园带<br> 动作用有多强</a>
                                                    </h5>
                                                </div>
                                            </li>

                                            <li class="footer-widget__news-list-item">
                                                <div class="footer-widget__news-list-item-img">
                                                    <img src="../static/images/resources/trace_bottom_2.png"
                                                         alt=""/>
                                                </div>
                                                <div class="footer-widget__news-list-item-title">
                                                    <p>4 March, 2024</p>
                                                    <h5>
                                                        <a href="https://www.moa.gov.cn/xw/qg/202403/t20240304_6450592.htm"
                                                           target="_blank">春种一粒粟 秋收万颗子——<br> 北京海淀区植物组织培养技<br>术实验室育种核心技术助力<br>春播备耕</a>
                                                    </h5>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--End Footer Widget Column-->

                                <!--Start Footer Widget Column-->
                                <div class="col-xl-2 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.5s">
                                    <div class="footer-widget__column footer-widget__explore">
                                        <h2 class="footer-widget__title">探索更多</h2>
                                        <ul class="footer-widget__explore-list">
                                            <li class="footer-widget__explore-list-item"><a href="../kepu">菜 品 溯
                                                源</a></li>
                                            <li class="footer-widget__explore-list-item"><a href="../services">食 品 安
                                                全</a></li>
                                            <li class="footer-widget__explore-list-item"><a
                                                    href="../templates/about.html">特 色 种 植</a></li>
                                            <li class="footer-widget__explore-list-item"><a href="#">高 新 作 物</a>
                                            </li>
                                            <li class="footer-widget__explore-list-item"><a href="#">科 技 前 沿</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--End Footer Widget Column-->

                                <!--Start Footer Widget Column-->
                                <div class="col-xl-4 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.7s">
                                    <div class="footer-widget__column footer-widget__newletter">
                                        <h2 class="footer-widget__title">站点帮助</h2>
                                        <p class="footer-widget__newletter-text">
                                            在下方输入站点名称或相关信息，即可帮助您快速到达本网站各处！</p>
                                        <form class="subscribe-form" action="#">
                                            <input type="text" name="text" placeholder="输入站点">
                                            <button type="submit">Go</button>
                                        </form>
                                    </div>
                                </div>
                                <!--End Footer Widget Column-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Start Footer One Bottom-->

        <!--End Footer One Bottom-->
    </footer>
    <!--End Footer One-->


</div><!-- /.page-wrapper -->


<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

        <div class="logo-box">
            <a href="../index" aria-label="logo image"><img src="../static/images/resources/mobilemenu_logo.png"
                                                            width="155" alt=""/></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="icon-phone-call"></i>
                <a href="mailto:needhelp@packageName__.com">needhelp@agriox.com</a>
            </li>
            <li>
                <i class="icon-letter"></i>
                <a href="tel:666-888-0000">666 888 0000</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-pinterest-p"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->
    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->


<div class="search-popup">
    <div class="search-popup__overlay search-toggler"></div>
    <!-- /.search-popup__overlay -->
    <div class="search-popup__content">
        <form action="#">
            <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
            <input type="text" id="search" placeholder="Search Here..."/>
            <button type="submit" aria-label="search submit" class="thm-btn2">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <!-- /.search-popup__content -->
</div>
<!-- /.search-popup -->


<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow-2"></i></a>

<script src="../static/echarts/echarts4.2.min.js"></script>
<script src="../static/plugins/jquery/jquery-3.5.1.min.js"></script>
<script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/plugins/jarallax/jarallax.min.js"></script>
<script src="../static/plugins/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
<script src="../static/plugins/jquery-appear/jquery.appear.min.js"></script>
<script src="../static/plugins/jquery-circle-progress/jquery.circle-progress.min.js"></script>
<script src="../static/plugins/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="../static/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="../static/plugins/nouislider/nouislider.min.js"></script>
<script src="../static/plugins/odometer/odometer.min.js"></script>
<script src="../static/plugins/swiper/swiper.min.js"></script>
<script src="../static/plugins/tiny-slider/tiny-slider.min.js"></script>
<script src="../static/plugins/wnumb/wNumb.min.js"></script>
<script src="../static/plugins/wow/wow.js"></script>
<script src="../static/plugins/isotope/isotope.js"></script>
<script src="../static/plugins/countdown/countdown.min.js"></script>
<script src="../static/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="../static/plugins/twentytwenty/twentytwenty.js"></script>
<script src="../static/plugins/twentytwenty/jquery.event.move.js"></script>
<script src="../static/plugins/parallax/parallax.min.js"></script>
<script src="../static/plugins/tilt.js/tilt.jquery.js"></script>


<script src="https://ditu.google.cn/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>

<!-- template js -->
<script src="../static/js/agriox.js"></script>
<script src="../static/js/tree.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var images = document.querySelectorAll('.projects-one__single-img');

        images.forEach(function (img) {
            img.addEventListener('click', function () {
                var textContent = this.querySelector('.project-text-content');
                if (textContent) {
                    textContent.classList.toggle('show-text-content');
                }
            });
        });
    });

</script>
<!--计算-->
<script type="text/javascript">
    const chartContainer = document.getElementById('chart-container');
    const foodWeightInput = document.getElementById('food-weight');
    const chartTypeSelect = document.getElementById('chart-type');
    const submitButton = document.getElementById('submit');
    const foodSelect = document.getElementById('food-select');

    // 人体每日所需营养成分
    const dailyNutritionRequirements = {
        '蛋白质': 30,
        '脂肪': 3,
        '碳水化合物': 10,
        '纤维素': 10,
        '维生素D': 30,
        '钾': 450,
        '钠': 30,
        '钙': 20,
        '铁': 1.5,
        '磷': 150
    };

    // 食材及营养成分数据
    let nutritionData = {};

    // 初始化食材选择列表
    function initFoodSelect() {
        nutritionData = {};
        Object.keys(nutritionRandomData).forEach((food) => {
            nutritionData[food] = nutritionRandomData[food];
            const option = document.createElement('option');
            option.text = food;
            option.value = food;
            foodSelect.add(option);
        });
    }

    // 随机生成食材营养成分数据
    const nutritionRandomData = {
        '三菌炒饭': {
            '蛋白质': Math.floor(Math.random() * 15) + 12, // 15-30g
            '脂肪': Math.floor(Math.random() * 0.8) + 0.2, // 0.1-0.9g
            '碳水化合物': Math.floor(Math.random() * 5) + 5, // 5-10g
            '纤维素': Math.floor(Math.random() * 5) + 5, // 5-10g
            '维生素D': Math.floor(Math.random() * 10) + 10, // 10-20μg
            '钾': Math.floor(Math.random() * 150) + 200, // 200-350mg
            '钠': Math.floor(Math.random() * 20) + 10, // 10-30mg
            '钙': Math.floor(Math.random() * 10) + 10, // 10-20mg
            '铁': Math.floor(Math.random() * 1) + Math.random(0.6), // 0-1mg
            '磷': Math.floor(Math.random() * 50) + 30, // 50-100mg
        },
        // 可以添加更多食材数据
        '松茸清汤': {
            '蛋白质': Math.floor(Math.random() * 15) + 12, // 15-30g
            '脂肪': Math.floor(Math.random() * 0.8) + 0.2, // 0.1-0.9g
            '碳水化合物': Math.floor(Math.random() * 5) + 5, // 5-10g
            '纤维素': Math.floor(Math.random() * 5) + 5, // 5-10g
            '维生素D': Math.floor(Math.random() * 10) + 10, // 10-20μg
            '钾': Math.floor(Math.random() * 150) + 200, // 200-350mg
            '钠': Math.floor(Math.random() * 20) + 10, // 10-30mg
            '钙': Math.floor(Math.random() * 10) + 10, // 10-20mg
            '铁': Math.floor(Math.random() * 1) + Math.random(0.6), // 0-1mg
            '磷': Math.floor(Math.random() * 50) + 30, // 50-100mg
        },
         '松茸炒虾仁': {
            '蛋白质': Math.floor(Math.random() * 15) + 12, // 15-30g
            '脂肪': Math.floor(Math.random() * 0.8) + 0.2, // 0.1-0.9g
            '碳水化合物': Math.floor(Math.random() * 5) + 5, // 5-10g
            '纤维素': Math.floor(Math.random() * 5) + 5, // 5-10g
            '维生素D': Math.floor(Math.random() * 10) + 10, // 10-20μg
            '钾': Math.floor(Math.random() * 150) + 200, // 200-350mg
            '钠': Math.floor(Math.random() * 20) + 10, // 10-30mg
            '钙': Math.floor(Math.random() * 10) + 10, // 10-20mg
            '铁': Math.floor(Math.random() * 1) + Math.random(0.6), // 0-1mg
            '磷': Math.floor(Math.random() * 50) + 30, // 50-100mg
        },
         '松茸蒸鸡': {
            '蛋白质': Math.floor(Math.random() * 15) + 12, // 15-30g
            '脂肪': Math.floor(Math.random() * 0.8) + 0.2, // 0.1-0.9g
            '碳水化合物': Math.floor(Math.random() * 5) + 5, // 5-10g
            '纤维素': Math.floor(Math.random() * 5) + 5, // 5-10g
            '维生素D': Math.floor(Math.random() * 10) + 10, // 10-20μg
            '钾': Math.floor(Math.random() * 150) + 200, // 200-350mg
            '钠': Math.floor(Math.random() * 20) + 10, // 10-30mg
            '钙': Math.floor(Math.random() * 10) + 10, // 10-20mg
            '铁': Math.floor(Math.random() * 1) + Math.random(0.6), // 0-1mg
            '磷': Math.floor(Math.random() * 50) + 30, // 50-100mg
        }
        ,
         '松茸意面': {
            '蛋白质': Math.floor(Math.random() * 15) + 12, // 15-30g
            '脂肪': Math.floor(Math.random() * 0.8) + 0.2, // 0.1-0.9g
            '碳水化合物': Math.floor(Math.random() * 5) + 5, // 5-10g
            '纤维素': Math.floor(Math.random() * 5) + 5, // 5-10g
            '维生素D': Math.floor(Math.random() * 10) + 10, // 10-20μg
            '钾': Math.floor(Math.random() * 150) + 200, // 200-350mg
            '钠': Math.floor(Math.random() * 20) + 10, // 10-30mg
            '钙': Math.floor(Math.random() * 10) + 10, // 10-20mg
            '铁': Math.floor(Math.random() * 1) + Math.random(0.6), // 0-1mg
            '磷': Math.floor(Math.random() * 50) + 30, // 50-100mg
        }
        ,
         '松茸烤鸡胸': {
            '蛋白质': Math.floor(Math.random() * 15) + 12, // 15-30g
            '脂肪': Math.floor(Math.random() * 0.8) + 0.2, // 0.1-0.9g
            '碳水化合物': Math.floor(Math.random() * 5) + 5, // 5-10g
            '纤维素': Math.floor(Math.random() * 5) + 5, // 5-10g
            '维生素D': Math.floor(Math.random() * 10) + 10, // 10-20μg
            '钾': Math.floor(Math.random() * 150) + 200, // 200-350mg
            '钠': Math.floor(Math.random() * 20) + 10, // 10-30mg
            '钙': Math.floor(Math.random() * 10) + 10, // 10-20mg
            '铁': Math.floor(Math.random() * 1) + Math.random(0.6), // 0-1mg
            '磷': Math.floor(Math.random() * 50) + 30, // 50-100mg
        }
        ,
         '松茸奶油汤': {
            '蛋白质': Math.floor(Math.random() * 15) + 12, // 15-30g
            '脂肪': Math.floor(Math.random() * 0.8) + 0.2, // 0.1-0.9g
            '碳水化合物': Math.floor(Math.random() * 5) + 5, // 5-10g
            '纤维素': Math.floor(Math.random() * 5) + 5, // 5-10g
            '维生素D': Math.floor(Math.random() * 10) + 10, // 10-20μg
            '钾': Math.floor(Math.random() * 150) + 200, // 200-350mg
            '钠': Math.floor(Math.random() * 20) + 10, // 10-30mg
            '钙': Math.floor(Math.random() * 10) + 10, // 10-20mg
            '铁': Math.floor(Math.random() * 1) + Math.random(0.6), // 0-1mg
            '磷': Math.floor(Math.random() * 50) + 30, // 50-100mg
        }
        ,
         '松茸牛油果沙拉': {
            '蛋白质': Math.floor(Math.random() * 15) + 12, // 15-30g
            '脂肪': Math.floor(Math.random() * 0.8) + 0.2, // 0.1-0.9g
            '碳水化合物': Math.floor(Math.random() * 5) + 5, // 5-10g
            '纤维素': Math.floor(Math.random() * 5) + 5, // 5-10g
            '维生素D': Math.floor(Math.random() * 10) + 10, // 10-20μg
            '钾': Math.floor(Math.random() * 150) + 200, // 200-350mg
            '钠': Math.floor(Math.random() * 20) + 10, // 10-30mg
            '钙': Math.floor(Math.random() * 10) + 10, // 10-20mg
            '铁': Math.floor(Math.random() * 1) + Math.random(0.6), // 0-1mg
            '磷': Math.floor(Math.random() * 50) + 30, // 50-100mg
        }
        ,
         '松茸鸡肉卷': {
            '蛋白质': Math.floor(Math.random() * 15) + 12, // 15-30g
            '脂肪': Math.floor(Math.random() * 0.8) + 0.2, // 0.1-0.9g
            '碳水化合物': Math.floor(Math.random() * 5) + 5, // 5-10g
            '纤维素': Math.floor(Math.random() * 5) + 5, // 5-10g
            '维生素D': Math.floor(Math.random() * 10) + 10, // 10-20μg
            '钾': Math.floor(Math.random() * 150) + 200, // 200-350mg
            '钠': Math.floor(Math.random() * 20) + 10, // 10-30mg
            '钙': Math.floor(Math.random() * 10) + 10, // 10-20mg
            '铁': Math.floor(Math.random() * 1) + Math.random(2) , // 0-1mg
            '磷': Math.floor(Math.random() * 50) + Math.random(30), // 50-100mg
        }
        ,
         '松茸蛋汤': {
            '蛋白质': Math.floor(Math.random() * 15) + 12, // 15-30g
            '脂肪': Math.floor(Math.random() * 0.8) + 0.2, // 0.1-0.9g
            '碳水化合物': Math.floor(Math.random() * 5) + 5, // 5-10g
            '纤维素': Math.floor(Math.random() * 5) + 5, // 5-10g
            '维生素D': Math.floor(Math.random() * 10) + 10, // 10-20μg
            '钾': Math.floor(Math.random() * 150) + 200, // 200-350mg
            '钠': Math.floor(Math.random() * 20) + 10, // 10-30mg
            '钙': Math.floor(Math.random() * 10) + 10, // 10-20mg
            '铁': Math.floor(Math.random() * 1) + Math.random(0.6), // 0-1mg
            '磷': Math.floor(Math.random() * 50) + 30, // 50-100mg
        }


    };

    // 绘制图表
    function drawChart(nutritionData, type, weight) {
        let chart = echarts.init(chartContainer);
        let seriesData = Object.keys(nutritionData).map(nutrient => {
            return {
                name: nutrient,
                value: nutritionData[nutrient] / dailyNutritionRequirements[nutrient] * 100
            };
        });

        let option;
        switch (type) {
            case 'line':
                option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: seriesData.map(d => d.name)
                    },
                    yAxis: {
                        type: 'value',
                        name: '百分比 (%)'
                    },
                    series: [{
                        type: 'line',
                        data: seriesData,
                        itemStyle: {
                normal: {
                    color: 'lightgreen'
                }
                        }
                    }]
                };
                break;
            case 'bar':
                option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b}: {c} (%)'
                    },
                    xAxis: {
                        type: 'value',
                        name: '百分比 (%)'
                    },
                    yAxis: {
                        type: 'category',
                        data: seriesData.map(d => d.name)
                    },
                    series: [{
                        data: seriesData.map(d => d.value),
                        type: 'bar',
                        name: foodSelect.value,
                        itemStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [
                        {offset: 0, color: '#188df0'},
                        {offset: 1, color: '#4FAB92'}
                    ])
                }
            },
                    }]
                };
                break;
            case 'pie':
                option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b}: {c} ({d}%)'
                    },
                    series: [{
                        name: foodSelect.value,
                        type: 'pie',
                        radius: '55%',

                        data: seriesData,
                        emphasis: {
                            label: {
                                formatter: '{b}: {c} ({d}%)'
                            }
                        }
                    }]
                };
                break;
        }
        chart.setOption(option);
    }

    // 监听提交按钮
    submitButton.addEventListener('click', () => {
        const selectedFood = foodSelect.value;
        const weight = foodWeightInput.value;
        if (!nutritionData[selectedFood]) {
            alert('该食材的营养成分数据尚未生成，请选择其他食材。');
            return;
        }
        drawChart(nutritionData[selectedFood], chartTypeSelect.value, weight);
    });

    // 初始化食材选择列表
    initFoodSelect();
</script>


</body>

</html>