<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>健康食效果</title>
    <!-- favicons Icons -->
     <style>
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        .slow-appear {
            opacity: 0; /* 初始状态为完全透明 */
            animation: fadeIn 10s forwards; /* 应用动画，持续2秒，动画结束后保持最后一帧的状态 */
        }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png"/>
    <link rel="manifest" href="../static/images/favicons/site.webmanifest"/>
    <meta name="description" content="Crsine HTML Template For Car Services"/>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shadows+Into+Light&display=swap"
            rel="stylesheet">


    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/plugins/animate/animate.min.css"/>
    <link rel="stylesheet" href="../static/plugins/animate/custom-animate.css"/>
    <link rel="stylesheet" href="../static/plugins/fontawesome/css/all.min.css"/>
    <link rel="stylesheet" href="../static/plugins/jarallax/jarallax.css"/>
    <link rel="stylesheet" href="../static/plugins/jquery-magnific-popup/jquery.magnific-popup.css"/>
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.min.css"/>
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.pips.css"/>
    <link rel="stylesheet" href="../static/plugins/odometer/odometer.min.css"/>
    <link rel="stylesheet" href="../static/plugins/swiper/swiper.min.css"/>
    <link rel="stylesheet" href="../static/plugins/icomoon-icons/style.css">
    <link rel="stylesheet" href="../static/plugins/tiny-slider/tiny-slider.min.css"/>
    <link rel="stylesheet" href="../static/plugins/reey-font/stylesheet.css"/>
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../static/plugins/twentytwenty/twentytwenty.css"/>

    <!-- template styles -->
    <link rel="stylesheet" href="../static/css/agriox.css"/>
    <link rel="stylesheet" href="../static/css/agriox-responsive.css"/>


</head>

<body>

<div class="preloader">
    <img class="preloader__image" width="60" src="../static/images/loader.png" alt=""/>
</div>

<!-- /.preloader -->
<div class="page-wrapper">

    <header class="main-header main-header--one  clearfix">
        <div class="main-header--one__wrapper">


            <div class="main-header--one__bottom clearfix">
                <div class="auto-container">
                    <div class="main-header--one__bottom-inner">
                        <nav class="main-menu main-menu--1">
                            <div class="main-menu__inner">
                                <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

                                <div class="stricky-one-logo">
                                    <div class="logo">
                                        <a href="../index"><img src="../static/images/logo/Logo-us-small.png"
                                                                alt=""/></a>
                                    </div>
                                </div>

                                <div class="main-header--one__bottom-left">
                                    <ul class="main-menu__list">
                                        <li class="dropdown">
                                            <a href="../index">首页</a>

                                        </li>
                                        <li><a href="../trace">溯源</a></li>
                                        <li class="dropdown">
                                            <a href="../services">耕养运烹</a>
                                            <ul>

                                                <li>
                                                <li><a href="../sow">沃土丰熟</a>
                                                </li>
                                                <li><a href="../transport">精密物流</a></li>
                                                <li><a href="../cook">烹调艺术</a></li>
                                                <li><a href="../effect">健康食效</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">发现</a>
                                            <ul>
                                                <li><a href="../travel">旅游指南</a></li>
                                                <li><a href="../kepu">作物科普</a></li>
                                                <li><a href="../safety">食物安全查询</a></li>
                                                <li><a href="../question">问题查询</a></li>
                                                <li><a href="../Pet_shop">植宠商店</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="../policy">政策咨询</a>
                                            <ul>
                                                <li><a href="../news">News</a></li>
                                                <li><a href="../information">News Two</a></li>
                                                <li><a href="../news-details">News Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../contact">联系我们</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>

                        <div class="main-header--one__bottom-middel">
                            <div class="logo">
                                <a href="../index"><img src="../static/images/logo/Logo-us-small.png" alt=""/></a>
                            </div>
                        </div>

                        <div class="main-header--one__bottom-right clearfix">
                            <div class="search-cart">
                                <a href="#" class="search search-toggler"><span
                                        class="icon-magnifying-glass"></span></a>
                                <a href="../Pet_shop" class="cart "><span
                                        class="icon-shopping-cart"></span></a>
                            </div>
                            <div class="contact-box">
                                <div class="">
                                    <a href="#"><i class="fa fa-user"
                                                   style="font-size: 35px;margin-top: 8px;margin-right:30px"></i></a>
                                </div>
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-body dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ request.session.info.name }}
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li style="margin-bottom: 10px"><a class="dropdown-item" href="#">注销</a>
                                            </li>
                                            <li style="margin-bottom: 10px"><a class="dropdown-item"
                                                                               href="#">个人中心</a></li>

                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>


    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content">

        </div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

    <!--Page Header Start-->
    <section class="page-header clearfix"
             style="background-image: url(../static/images/backgrounds/page-header-bg.jpg);">
        <div class="container">
            <div class="page-header__inner text-center clearfix">
                <ul class="thm-breadcrumb">
                    <li><a href="../index">首页</a></li>
                    <!-- <li>Services</li> -->
                    <li>详细</li>
                </ul>
                <h2>沃土丰熟</h2>
            </div>
        </div>
    </section>
    <!--Page Header End-->


    <!--Start Services Details-->
    <section class="services-details_header">
        <div class="container">
            <div class="row">
                <!--Start Services Details Sidebar-->
                <div class="col-xl-4 col-lg-4">
                    <div class="services-details__sidebar">
                        <!--Start Services Details Sidebar Single-->
                        <div class="services-details__sidebar-single">
                            <div class="services-details__sidebar-single-services wow fadeInUp animated animated animated"
                                 data-wow-delay="0.1s" data-wow-duration="1200m">
                                <div class="title">

                                       <h2 class="slow-appear">松茸</h2>
                                </div>
                                <ul>
                                    <li><a href="../sow">沃土丰熟 <i
                                            class="fa fa-angle-right"></i></a></li>
                                    <li><a href="../transport">精密物流 <i
                                            class="fa fa-angle-right"></i></a></li>
                                    <li><a href="../cook">烹调艺术 <i
                                            class="fa fa-angle-right"></i></a></li>
                                    <li><a href="../effect">健康食效 <i
                                            class="fa fa-angle-right"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <!--End Services Details Sidebar Single-->

                        <!--Start Services Details Sidebar Single-->

                        <!--End Services Details Sidebar Single-->

                        <!--Start Services Details Sidebar Single-->
                        <!--End Services Details Sidebar Single-->
                    </div>
                </div>
                <!--End Services Details Sidebar-->

                <!--Start Services Details Content-->
                <div class="col-xl-8 col-lg-8" >
                    <div class="services-details__content-img">
                        <img src="../static/images/trace/effect-1.png" alt="" style="height: 371px;border-radius: 10px"/>
                    </div>
                </div>
                <!--End Services Details Content-->
            </div>

        </div>

    </section>
    <!--End Services Details-->

    <section class="services-details">
            <div class="container">
                <div class="services-details__content">

                    <h2 class="services-details__content-title"><span class="icon-harvest"
                                                                      style="padding-right: 10px"></span>营养价值 - 松茸</h2>

                    <p class="services-details__content-text1" style="text-indent:2em">松茸含有18种氨基酸、14种人体必需微量元素、49种活性营养物质、5种不饱和脂肪酸、8种维生素、2种糖蛋白、丰富的膳食纤维和多种活性酶，另含有3种珍贵的活性物质，分别是双链松茸多糖、松茸多肽和全世界独一无二的抗癌抗肿瘤物质——松茸醇，是世界上最珍贵的天然药用菌类。</p>
                    <div class="services-details__content-img">
                        <img src="../static/images/sow/zrhj.jpg" alt="" style="height: 30%;border-radius: 10px"/>
                    </div>


                    <h2 class="services-details__content-title "><span class="icon-conveyor"
                                                                       style="padding-right: 10px"></span>营养含量 - 松茸</h2>
                    <p class="services-details__content-text1" style="text-indent:2em">
                        松茸是一种珍贵的食用菌，含有丰富的营养成分。每100克松茸大致含有以下营养物质：</p>
                    <div id="hzsb" style="width: 800px;height: 600px;margin:0 auto "></div>

                    <h2 class="services-details__content-title "><span class="icon-farm" style="padding-right: 10px"></span>营养功效 - 松茸</h2>
                    <div id="sjt" style="width: 1200px;height: 600px;margin:0 auto "></div>

                </div>
            </div>
        </section>



    <!--Start Footer One-->
    <footer class="footer-one">
        <div class="footer-one__top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-one__top-wrapper">
                            <div class="footer-one__bg"><img src="../static/images/backgrounds/footer-one-bg.png"
                                                             alt=""/></div>
                            <div class="row">
                                <!--Start Footer Widget Column-->
                                <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s">
                                    <div class="footer-widget__column footer-widget__about">
                                        <div class="footer-widget__about-logo">
                                            <a href="../index"><img
                                                    src="../static/images/logo/logo-us-medium.png"
                                                    alt=""></a>
                                        </div>
                                        <p class="footer-widget__about-text">食为人天，农为正本。</p>
                                        <div class="footer-widget__about-contact-box">
                                            <p class="phone"><a href="tel:123456789"><i
                                                    class="fas fa-phone-square-alt"></i>+86 XXX-XXXX-XXXX</a></p>
                                            <p><a href="mailto:needhelp@company.com"><i
                                                    class="fa fa-envelope"></i>Shiyuanzhilv@SYZL.com</a></p>
                                            <p class="text"><i class="fas fa-map-marker-alt"></i>中国-上海</p>
                                        </div>
                                    </div>
                                </div>
                                <!--End Footer Widget Column-->

                                <!--Start Footer Widget Column-->
                                <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s">
                                    <div class="footer-widget__column footer-widget__news">
                                        <h2 class="footer-widget__title">最新资讯</h2>
                                        <ul class="footer-widget__news-list">
                                            <li class="footer-widget__news-list-item">
                                                <div class="footer-widget__news-list-item-img">
                                                    <img src="../static/images/resources/trace_bottom_1.png"
                                                         alt=""/>
                                                </div>
                                                <div class="footer-widget__news-list-item-title">
                                                    <p>4 March, 2024</p>
                                                    <h5>
                                                        <a href="https://www.moa.gov.cn/xw/qg/202403/t20240304_6450629.htm"
                                                           target="_blank">“国字号”现代农业产业园带<br> 动作用有多强</a>
                                                    </h5>
                                                </div>
                                            </li>

                                            <li class="footer-widget__news-list-item">
                                                <div class="footer-widget__news-list-item-img">
                                                    <img src="../static/images/resources/trace_bottom_2.png"
                                                         alt=""/>
                                                </div>
                                                <div class="footer-widget__news-list-item-title">
                                                    <p>4 March, 2024</p>
                                                    <h5>
                                                        <a href="https://www.moa.gov.cn/xw/qg/202403/t20240304_6450592.htm"
                                                           target="_blank">春种一粒粟 秋收万颗子——<br> 北京海淀区植物组织培养技<br>术实验室育种核心技术助力<br>春播备耕</a>
                                                    </h5>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--End Footer Widget Column-->

                                <!--Start Footer Widget Column-->
                                <div class="col-xl-2 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.5s">
                                    <div class="footer-widget__column footer-widget__explore">
                                        <h2 class="footer-widget__title">探索更多</h2>
                                        <ul class="footer-widget__explore-list">
                                            <li class="footer-widget__explore-list-item"><a href="../kepu">菜 品 溯
                                                源</a></li>
                                            <li class="footer-widget__explore-list-item"><a href="../services">食 品 安
                                                全</a></li>
                                            <li class="footer-widget__explore-list-item"><a
                                                    href="../templates/about.html">特 色 种 植</a></li>
                                            <li class="footer-widget__explore-list-item"><a href="#">高 新 作 物</a>
                                            </li>
                                            <li class="footer-widget__explore-list-item"><a href="#">科 技 前 沿</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--End Footer Widget Column-->

                                <!--Start Footer Widget Column-->
                                <div class="col-xl-4 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.7s">
                                    <div class="footer-widget__column footer-widget__newletter">
                                        <h2 class="footer-widget__title">站点帮助</h2>
                                        <p class="footer-widget__newletter-text">
                                            在下方输入站点名称或相关信息，即可帮助您快速到达本网站各处！</p>
                                        <form class="subscribe-form" action="#">
                                            <input type="text" name="text" placeholder="输入站点">
                                            <button type="submit">Go</button>
                                        </form>
                                    </div>
                                </div>
                                <!--End Footer Widget Column-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Start Footer One Bottom-->

        <!--End Footer One Bottom-->
    </footer>
    <!--End Footer One-->


</div><!-- /.page-wrapper -->


<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

        <div class="logo-box">
            <a href="../index" aria-label="logo image"><img src="../static/images/resources/mobilemenu_logo.png"
                                                            width="155" alt=""/></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="icon-phone-call"></i>
                <a href="mailto:needhelp@packageName__.com">needhelp@agriox.com</a>
            </li>
            <li>
                <i class="icon-letter"></i>
                <a href="tel:666-888-0000">666 888 0000</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-pinterest-p"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->
    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->


<div class="search-popup">
    <div class="search-popup__overlay search-toggler"></div>
    <!-- /.search-popup__overlay -->
    <div class="search-popup__content">
        <form action="#">
            <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
            <input type="text" id="search" placeholder="Search Here..."/>
            <button type="submit" aria-label="search submit" class="thm-btn2">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <!-- /.search-popup__content -->
</div>
<!-- /.search-popup -->


<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow-2"></i></a>

<script src="../static/echarts/echarts4.2.min.js"></script>
<script src="../static/plugins/jquery/jquery-3.5.1.min.js"></script>
<script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/plugins/jarallax/jarallax.min.js"></script>
<script src="../static/plugins/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
<script src="../static/plugins/jquery-appear/jquery.appear.min.js"></script>
<script src="../static/plugins/jquery-circle-progress/jquery.circle-progress.min.js"></script>
<script src="../static/plugins/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="../static/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="../static/plugins/nouislider/nouislider.min.js"></script>
<script src="../static/plugins/odometer/odometer.min.js"></script>
<script src="../static/plugins/swiper/swiper.min.js"></script>
<script src="../static/plugins/tiny-slider/tiny-slider.min.js"></script>
<script src="../static/plugins/wnumb/wNumb.min.js"></script>
<script src="../static/plugins/wow/wow.js"></script>
<script src="../static/plugins/isotope/isotope.js"></script>
<script src="../static/plugins/countdown/countdown.min.js"></script>
<script src="../static/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="../static/plugins/twentytwenty/twentytwenty.js"></script>
<script src="../static/plugins/twentytwenty/jquery.event.move.js"></script>
<script src="../static/plugins/parallax/parallax.min.js"></script>
<script src="../static/plugins/tilt.js/tilt.jquery.js"></script>


<script src="https://ditu.google.cn/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>

<!-- template js -->
<script src="../static/js/agriox.js"></script>
<script src="../static/js/tree.js"></script>
<script>
        // 可以使用JavaScript在页面加载后触发动画
        document.querySelector('.slow-appear').style.animationPlayState = 'running';
    </script>
<script>
var chartDom = document.getElementById('hzsb');
var myChart = echarts.init(chartDom);
var option;

option = {
  tooltip: {
    trigger: 'item',
    formatter: '{a} <br/>{b}: {c} ({d}%)'
  },
  legend: {
    data: [
      '蛋白质',
      '碳水化合物',
      '脂肪和微量元素',
      '钾',
      '钠',
      '钙',
      '铁',
      '磷'
    ]
  },
  series: [
    {
      name: '主要营养成分',
      type: 'pie',
      selectedMode: 'single',
      radius: [0, '30%'],
      label: {
        position: 'inner',
        fontSize: 14
      },
      labelLine: {
        show: false
      },
      data: [
        { value: 0.25, name: '蛋白质' },
        { value: 0.15, name: '碳水化合物' },
        { value: 0.03, name: '脂肪和微量元素', selected: true }
      ]
    },
    {
      name: '微量元素含量',
      type: 'pie',
      radius: ['45%', '60%'],
      labelLine: {
        length: 30
      },
      label: {
        formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
        backgroundColor: '#F6F8FC',
        borderColor: '#8C8D8E',
        borderWidth: 1,
        borderRadius: 4,
        rich: {
          a: {
            color: '#6E7079',
            lineHeight: 22,
            align: 'center'
          },
          hr: {
            borderColor: '#8C8D8E',
            width: '100%',
            borderWidth: 1,
            height: 0
          },
          b: {
            color: '#4C5058',
            fontSize: 14,
            fontWeight: 'bold',
            lineHeight: 33
          },
          per: {
            color: '#fff',
            backgroundColor: '#4C5058',
            padding: [3, 4],
            borderRadius: 4
          }
        }
      },
      data: [
        { value: 375, name: '钾' },
        { value: 20, name: '钠' },
        { value: 15, name: '钙' },
        { value: 1.5, name: '铁' },
        { value: 125, name: '磷' }
      ]
    }
  ]
};

option && myChart.setOption(option);

    </script>
<script>
var chartDom = document.getElementById('sjt');
var myChart = echarts.init(chartDom);
var option;

option = {
  series: {
    type: 'sankey',
    layout: 'none',
    emphasis: {
      focus: 'adjacency'
    },
    data: [
      {
        name: '主要营养物质',
        itemStyle: {
          color: 'rgb(0,102,51)' // 自定义颜色
        }
      },
      {
        name: '特有营养物质',
        itemStyle: {
          color: 'rgb(0,102,51)' // 自定义颜色
        }
      },
      {
        name: '提高免疫力',
        itemStyle: {
          color: 'rgb(0,204,102)' // 自定义颜色
        }
      },
      {
        name: '骨骼健康',
        itemStyle: {
          color: 'rgb(0,204,102)' // 自定义颜色
        }
      },
      {
        name: '松茸醇',
        itemStyle: {
          color: 'rgb(0,153,76)' // 自定义颜色
        }
      },
      {
        name: '抗氧化物质',
        itemStyle: {
          color: 'rgb(0,153,76)' // 自定义颜色
        }
      },
      {
        name: '多糖类物质',
        itemStyle: {
          color: 'rgb(0,153,76)' // 自定义颜色
        }
      },
      {
        name: '维生素D',
        itemStyle: {
          color: 'rgb(0,153,76)' // 自定义颜色
        }
      },
      {
        name: '矿物质',
        itemStyle: {
          color: 'rgb(0,153,76)' // 自定义颜色
        }
      },
      {
        name: '抗癌抗肿瘤',
        itemStyle: {
          color: 'rgb(0,204,102)' // 自定义颜色
        }
      },
      {
        name: '心血健康',
        itemStyle: {
          color: 'rgb(0,204,102)' // 自定义颜色
        }
      },
      {
        name: '预防慢性病',
        itemStyle: {
          color: 'rgb(0,204,102)' // 自定义颜色
        }
      }
    ],
    links: [
      {
        source: '主要营养物质',
        target: '维生素D',
        value: 3,
        lineStyle: {
          color: 'rgb(0,153,0)' // 自定义颜色
        }
      },
      {
        source: '维生素D',
        target: '骨骼健康',
        value: 3,
        lineStyle: {
          color: 'rgb(153,255,153)' // 自定义颜色
        }
      },
      {
        source: '维生素D',
        target: '心血健康',
        value: 3,
        lineStyle: {
          color: 'rgb(153,255,153)' // 自定义颜色
        }
      },
      {
        source: '主要营养物质',
        target: '多糖类物质',
        value: 5,
        lineStyle: {
          color: 'rgb(0,153,0)' // 自定义颜色
        }
      },
      {
        source: '多糖类物质',
        target: '提高免疫力',
        value: 4,
        lineStyle: {
          color: 'rgb(153,255,153)' // 自定义颜色
        }
      },
      {
        source: '多糖类物质',
        target: '抗癌抗肿瘤',
        value: 2,
        lineStyle: {
          color: 'rgb(153,255,153)' // 自定义颜色
        }
      },
      {
        source: '主要营养物质',
        target: '抗氧化物质',
        value: 3,
        lineStyle: {
          color: 'rgb(0,153,0)' // 自定义颜色
        }
      },
      {
        source: '抗氧化物质',
        target: '预防慢性病',
        value: 5,
        lineStyle: {
          color: 'rgb(153,255,153)' // 自定义颜色
        }
      },
      {
        source: '主要营养物质',
        target: '矿物质',
        value: 3,
        lineStyle: {
          color: 'rgb(0,153,0)' // 自定义颜色
        }
      },
      {
        source: '矿物质',
        target: '骨骼健康',
        value: 4,
        lineStyle: {
          color: 'rgb(153,255,153)' // 自定义颜色
        }
      },
      {
        source: '矿物质',
        target: '心血健康',
        value: 2,
        lineStyle: {
          color: 'rgb(153,255,153)' // 自定义颜色
        }
      },
      {
        source: '特有营养物质',
        target: '松茸醇',
        value: 7,
        lineStyle: {
          color: 'rgb(0,204,0)' // 自定义颜色
        }
      },
      {
        source: '主要营养物质',
        target: '松茸醇',
        value: 3,
        lineStyle: {
          color: 'rgb(0,204,0)' // 自定义颜色
        }
      },
      {
        source: '松茸醇',
        target: '提高免疫力',
        value: 2,
        lineStyle: {
          color: 'rgb(102,255,102)' // 自定义颜色
        }
      },
      {
        source: '松茸醇',
        target: '抗癌抗肿瘤',
        value: 8,
        lineStyle: {
          color: 'rgb(102,255,102)' // 自定义颜色
        }
      }
    ],
    label: {
      show: true,
      fontSize: 16, // 设置文字大小
      fontFamily: 'Times New Roman' , // 设置字体
      fontWeight: 'bold'
    }
  }
};

option && myChart.setOption(option);

    </script>


</body>

</html>