
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/web3@4.6.0/dist/web3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        const web3 = new Web3(new Web3.providers.HttpProvider("https://sepolia.infura.io/v3/19225cd3ce7a4ad6972475b102adfdb4"));
        const abi = [
            {
                "inputs": [
                    {
                        "internalType": "string",
                        "name": "_name",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "_favoriteNumber",
                        "type": "uint256"
                    }
                ],
                "name": "addPerson",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    }
                ],
                "name": "nameToFavoriteNumber",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "name": "people",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "favoriteNumber",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "name",
                        "type": "string"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "retrieve",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "_favoriteNumber",
                        "type": "uint256"
                    }
                ],
                "name": "store",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            }
        ];

        const address = '0x82C07955eD5f47F31B946DC506EF5885a17dD3Cc';
        const contractInstance = new web3.eth.Contract(abi, address);

        // to test if initialized web3 works fine
        web3.eth.getBlockNumber().then((results) => {
            console.log("***Current Block Number***:")
            console.log(results)
        });

        // to test if web3.eth.Contract works
        console.log("***contractInstance.abi***:");
        console.log(contractInstance.options.jsonInterface);


        contractInstance.methods.retrieve().call().then((result) => {
            console.log("***retrieve()***:");
            console.log(result);
        });

        contractInstance.methods.retrieve().call().then(function (result) {
            $("#demo").html(result);
        })


        contractInstance.methods.retrieve().call().then(function (result) {
            document.getElementById("demo").innerHTML = result;
        })
    </script>


</body>

</html>
</body>
</html>