<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agriculture Products || Services Details</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="../static/images/favicons/site.webmanifest" />
    <meta name="description" content="Crsine HTML Template For Car Services" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shadows+Into+Light&display=swap"
        rel="stylesheet">



    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/plugins/animate/animate.min.css" />
    <link rel="stylesheet" href="../static/plugins/animate/custom-animate.css" />
    <link rel="stylesheet" href="../static/plugins/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../static/plugins/jarallax/jarallax.css" />
    <link rel="stylesheet" href="../static/plugins/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="../static/plugins/odometer/odometer.min.css" />
    <link rel="stylesheet" href="../static/plugins/swiper/swiper.min.css" />
    <link rel="stylesheet" href="../static/plugins/icomoon-icons/style.css">
    <link rel="stylesheet" href="../static/plugins/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="../static/plugins/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../static/plugins/twentytwenty/twentytwenty.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="../static/css/agriox.css" />
    <link rel="stylesheet" href="../static/css/agriox-responsive.css" />


</head>

<body>

    <div class="preloader">
        <img class="preloader__image" width="60" src="../static/images/loader.png" alt="" />
    </div>

    <!-- /.preloader -->
    <div class="page-wrapper">

        <header class="main-header main-header--one  clearfix">
            <div class="main-header--one__wrapper">


                <div class="main-header--one__bottom clearfix">
                    <div class="auto-container">
                        <div class="main-header--one__bottom-inner">
                            <nav class="main-menu main-menu--1">
                                <div class="main-menu__inner">
                                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

                                    <div class="stricky-one-logo">
                                        <div class="logo">
                                            <a href="../index"><img src="../static/images/resources/logo-1.png"
                                                    alt=""></a>
                                        </div>
                                    </div>

                                    <div class="main-header--one__bottom-left">
                                        <ul class="main-menu__list">
                                            <li class="dropdown">
                                                <a href="../index">首页</a>

                                            </li>
                                            <li><a href="../trace">溯源</a></li>
                                            <li class="dropdown">
                                                <a href="../services">耕养运烹</a>
                                                <ul>

                                                    <li><li><a href="../sow">丰衣足食</a>
                                                    </li>
                                                    <li><a href="../transport">物流精密</a></li>
                                                    <li><a href="../cook">烹调艺术</a></li>
                                                    <li><a href="../effect">美味功效</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">发现</a>
                                                <ul>
                                                    <li><a href="../travel">旅游指南</a></li>
                                                    <li><a href="../kepu">作物科普</a></li>
                                                    <li><a href="../safety">食物安全查询</a></li>
                                                    <li><a href="../question">问题查询</a></li>
                                                    <li><a href="../Pet_shop">植宠商店</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="../policy">政策咨询</a>
                                                <ul>
                                                    <li><a href="../news">News</a></li>
                                                    <li><a href="../information">News Two</a></li>
                                                    <li><a href="../news-details">News Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="../contact">联系我们</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>

                            <div class="main-header--one__bottom-middel">
                                <div class="logo">
                                    <a href="../index"><img src="../static/images/resources/logo-1.png" alt="" /></a>
                                </div>
                            </div>

                            <div class="main-header--one__bottom-right clearfix">
                                <div class="search-cart">
                                    <a href="#" class="search search-toggler"><span
                                            class="icon-magnifying-glass"></span></a>
                                    <a href="../Pet_shop" class="cart "><span
                                        class="icon-shopping-cart"></span></a>
                                </div>
                                <div class="contact-box">
                                <div class="">
                                    <a href="#"><i class="fa fa-user"
                                                   style="font-size: 35px;margin-top: 8px;margin-right:30px"></i></a>
                                </div>
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-body dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ request.session.info.name }}
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li style="margin-bottom: 10px"><a class="dropdown-item" href="#">注销</a></li>
                                            <li style="margin-bottom: 10px"><a class="dropdown-item" href="#">个人中心</a></li>

                                        </ul>
                                    </div>

                                </div>

                            </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </header>


        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content">

            </div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        <!--Page Header Start-->
        <section class="page-header clearfix"
            style="background-image: url(../static/images/backgrounds/page-header-bg.jpg);">
            <div class="container">
                <div class="page-header__inner text-center clearfix">
                    <ul class="thm-breadcrumb">
                        <li><a href="../index">首页</a></li>
                        <li><a href="../services">食品安全</a></li>
                        <li>食品安全详情</li>
                    </ul>
                    <h2>食品安全小百科，让知识成为味蕾的启迪</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->



        <!--Start Services Details-->
        <section class="services-details">
            <div class="container">
                <div class="row">
                    <!--Start Services Details Sidebar-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="services-details__sidebar">
                            <!--Start Services Details Sidebar Single-->
                            <div class="services-details__sidebar-single">
                                <div class="services-details__sidebar-single-services wow fadeInUp animated animated animated"
                                    data-wow-delay="0.1s" data-wow-duration="1200m">
                                    <div class="title">
                                        <h3>时蔬种类</h3>
                                    </div>
                                    <ul>
                                        <li><a href="../sow">叶菜类 <i
                                                    class="fa fa-angle-right"></i></a></li>
                                        <li><a href="../transport">菌菇类 <i
                                                    class="fa fa-angle-right"></i></a></li>
                                        <li><a href="../cook">果蔬类 <i
                                                    class="fa fa-angle-right"></i></a></li>
                                        <li><a href="../effect">更多种类 <i
                                                    class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--End Services Details Sidebar Single-->

                            <!--Start Services Details Sidebar Single-->
                            <div class="services-details__sidebar-single">
                                <div class="services-details__sidebar-single-contact-box text-center wow fadeInUp animated animated animated"
                                    data-wow-delay="0.3s" data-wow-duration="1200m"
                                    style="background-image:url(../static/images/resources/services-details-contact-box-bg.jpg);">
                                    <div class="icon">
                                        <span class="icon-harvest"></span>
                                    </div>
                                    <div class="title">
                                        <h2>友 情 <br>链 接<br></h2>
                                    </div>
                                    <p class="phone"><a href="https://baike.baidu.com/item/%E6%9C%A8%E8%80%B3/712258">百 度 百 科</a></p>
                                    <p class="phone"><a href="http://www.foodbk.com/wiki/%E6%9C%A8%E8%80%B3">食 品 百 科</a></p>
                                    <p>查看更多信息</p>
                                </div>
                            </div>
                            <!--End Services Details Sidebar Single-->

                            <!--Start Services Details Sidebar Single-->
                            <div class="services-details__sidebar-single">
                                <div class="services-details__sidebar-single-btn text-center wow fadeInUp animated animated animated"
                                    data-wow-delay="0.5s" data-wow-duration="1200m">
                                    <a href="#" class="thm-btn"><span class="icon-pdf"></span> 点击下载 PDF 文件</a>
                                </div>
                            </div>
                            <!--End Services Details Sidebar Single-->
                        </div>
                    </div>
                    <!--End Services Details Sidebar-->

                    <!--Start Services Details Content-->
                    <div class="col-xl-8 col-lg-8">
                        <div class="services-details__content">
                            <div class="services-details__content-img">
                                <img src="../static/images/safety_details/agaric_0_1.jpg" alt="" />
                            </div>
                            <div class="services-details__content-icon">
                                <span class="icon-harvest"></span>
                            </div>
                            <h2 class="services-details__content-title">木耳(Agaric)</h2>
                            <p class="services-details__content-text1">木耳，又叫云耳、桑耳，是我国重要的食用菌，有广泛的自然分布和人工栽培。木耳质地柔软，口感细嫩，味道鲜美，风味特殊，而且富含蛋白质、脂肪、糖类及多种维生素和矿物质，有很高的营养价值，现代营养学家盛赞其为“素中之荤”。木耳的营养价值可与动物性食物相媲美，其极其丰富的铁、维生素K含量。</p>
                            <p class="services-details__content-text2">中国是木耳的主要生产国，产区主要分布在吉林、黑龙江、辽宁、内蒙古、广西、云南、贵州、四川、湖北、陕西和浙江等地，其中黑龙江省牡丹江地区海林市、东宁市和吉林省蛟河县黄松甸镇是中国最大的黑木耳基地。</p>

                            <div class="services-details__content-text3">
                                <div class="img-box">
                                    <img src="../static/images/safety_details/agaric_1_1.jpg"
                                        alt="" />
                                </div>
                                <div class="text-box">
                                    <ul>
                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="text">
                                                <p><a href="https://baike.baidu.com/item/%E6%B5%B7%E6%9E%97%E9%BB%91%E6%9C%A8%E8%80%B3/23251852?structureClickId=23251852&structureId=76f8efb9477bcdcf8ffed61f&structureItemId=2d016776d1a3ddb8e8267e6a&lemmaFrom=starMapContent_star&fromModule=starMap_content&lemmaIdFrom=712258">海林黑木耳-黑龙江省海林市</a></p>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="text">
                                                <p><a href="https://baike.baidu.com/item/%E9%BB%84%E6%9D%BE%E7%94%B8%E9%BB%91%E6%9C%A8%E8%80%B3/1955059?structureClickId=1955059&structureId=76f8efb9477bcdcf8ffed61f&structureItemId=d44f452443694aabe3205c72&lemmaFrom=starMapContent_star&fromModule=starMap_content&lemmaIdFrom=712258">黄松甸黑木耳-吉林省蛟河市</a></p>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="text">
                                                <p><a href="https://baike.baidu.com/item/%E5%A4%A7%E6%9D%91%E9%BB%91%E6%9C%A8%E8%80%B3/5814561?lemmaFrom=lemma_starMap&fromModule=lemma_starMap&starNodeId=76f8efb9477bcdcf8ffed61f&lemmaIdFrom=712258">大村黑木耳-山东省青岛市</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="faq-one__accordions faq-one__accordions--services-details">
                                <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                    <!--Start Faq One Single-->
                                    <div class="accrodion active  wow fadeInUp" data-wow-delay="0ms"
                                        data-wow-duration="1000ms">
                                        <div class="accrodion-title">
                                            <h4>为何食用泡发木耳可能引起中毒?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>木耳在泡发的时候，木耳长时间泡发后滋生的一种椰毒假单胞菌有关。泡发的时间越长，会导致其中产生一种椰毒假单胞菌，不过，椰毒假单胞菌并不是导致食用木耳中毒的根本原因。椰毒假单胞菌本身不致毒，但它产生的一种毒素--米酵菌酸却是剧毒物质。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Faq One Single-->

                                    <!--Start Faq One Single-->
                                    <div class="accrodion wow fadeInUp" data-wow-delay="100ms"
                                        data-wow-duration="1000ms">
                                        <div class="accrodion-title">
                                            <h4>我们改如何正确处理木耳?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>泡发木耳时，应当勤换水或者放在冰箱冷藏室泡发，避免出现浑浊、发黏和异味尤其夏秋季；如果一时事忙，泡发时间较长，忘了换水，就果断扔掉；木耳一般泡1~2个小时就可以了，木耳变质的速度很快，当泡发时间超过8小时时，变质所导致的细菌会升至十几倍甚至几十倍。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Faq One Single-->

                                    <!--Start Faq One Single-->
                                    <div class="accrodion wow fadeInUp" data-wow-delay="200ms"
                                        data-wow-duration="1000ms">
                                        <div class="accrodion-title">
                                            <h4>我们该如何判断木耳是否可正常食用?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>食用鲜木耳时，已经有比如发黏、流水、异味等腐败迹象，就要停止食用。并且，木耳一次不要泡发太多，正确泡发后的木耳应表面柔滑，质地弹韧，无难闻气味；泡好后需及时食用，食用前再次认真清洗并检查是否有发黏、异味现象，如有则千万不可食用。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Faq One Single-->
                                </div>

                            </div>

                        </div>
                    </div>
                    <!--End Services Details Content-->
                </div>
            </div>
        </section>
        <!--End Services Details-->





        <!--Start Footer One-->
        <footer class="footer-one">
            <div class="footer-one__top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-one__top-wrapper">
                                <div class="footer-one__bg"><img src="../static/images/backgrounds/footer-one-bg.png"
                                                                 alt=""/></div>
                                <div class="row">
                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s">
                                        <div class="footer-widget__column footer-widget__about">
                                            <div class="footer-widget__about-logo">
                                                <a href="../index"><img
                                                        src="../static/images/logo/logo-us-medium.png"
                                                        alt=""></a>
                                            </div>
                                            <p class="footer-widget__about-text">食为人天，农为正本。</p>
                                            <div class="footer-widget__about-contact-box">
                                                <p class="phone"><a href="tel:123456789"><i
                                                        class="fas fa-phone-square-alt"></i>+86 XXX-XXXX-XXXX</a></p>
                                                <p><a href="mailto:needhelp@company.com"><i
                                                        class="fa fa-envelope"></i>Shiyuanzhilv@SYZL.com</a></p>
                                                <p class="text"><i class="fas fa-map-marker-alt"></i>中国-上海</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s">
                                        <div class="footer-widget__column footer-widget__news">
                                            <h2 class="footer-widget__title">最新资讯</h2>
                                            <ul class="footer-widget__news-list">
                                                <li class="footer-widget__news-list-item">
                                                    <div class="footer-widget__news-list-item-img">
                                                        <img src="../static/images/resources/trace_bottom_1.png"
                                                             alt=""/>
                                                    </div>
                                                    <div class="footer-widget__news-list-item-title">
                                                        <p>4 March, 2024</p>
                                                        <h5><a href="https://www.moa.gov.cn/xw/qg/202403/t20240304_6450629.htm" target="_blank">“国字号”现代农业产业园带<br> 动作用有多强</a></h5>
                                                    </div>
                                                </li>

                                                <li class="footer-widget__news-list-item">
                                                    <div class="footer-widget__news-list-item-img">
                                                        <img src="../static/images/resources/trace_bottom_2.png"
                                                             alt=""/>
                                                    </div>
                                                    <div class="footer-widget__news-list-item-title">
                                                        <p>4 March, 2024</p>
                                                        <h5><a href="https://www.moa.gov.cn/xw/qg/202403/t20240304_6450592.htm" target="_blank">春种一粒粟 秋收万颗子——<br> 北京海淀区植物组织培养技<br>术实验室育种核心技术助力<br>春播备耕</a></h5>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-2 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.5s">
                                        <div class="footer-widget__column footer-widget__explore">
                                            <h2 class="footer-widget__title">探索更多</h2>
                                            <ul class="footer-widget__explore-list">
                                                <li class="footer-widget__explore-list-item"><a href="../kepu">菜 品 溯 源</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="../services">食 品 安 全</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="../templates/about.html">特 色 种 植</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="#">高 新 作 物</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="#">科 技 前 沿</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-4 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.7s">
                                        <div class="footer-widget__column footer-widget__newletter">
                                            <h2 class="footer-widget__title">站点帮助</h2>
                                            <p class="footer-widget__newletter-text">在下方输入站点名称或相关信息，即可帮助您快速到达本网站各处！</p>
                                            <form class="subscribe-form" action="#">
                                                <input type="text" name="text" placeholder="输入站点">
                                                <button type="submit">Go</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Start Footer One Bottom-->

            <!--End Footer One Bottom-->
        </footer>
        <!--End Footer One-->


    </div><!-- /.page-wrapper -->



    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="../index" aria-label="logo image"><img src="../static/images/resources/mobilemenu_logo.png"
                        width="155" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="icon-phone-call"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@agriox.com</a>
                </li>
                <li>
                    <i class="icon-letter"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->
        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->



    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn2">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->



    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow-2"></i></a>


    <script src="../static/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/plugins/jarallax/jarallax.min.js"></script>
    <script src="../static/plugins/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="../static/plugins/jquery-appear/jquery.appear.min.js"></script>
    <script src="../static/plugins/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="../static/plugins/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../static/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="../static/plugins/nouislider/nouislider.min.js"></script>
    <script src="../static/plugins/odometer/odometer.min.js"></script>
    <script src="../static/plugins/swiper/swiper.min.js"></script>
    <script src="../static/plugins/tiny-slider/tiny-slider.min.js"></script>
    <script src="../static/plugins/wnumb/wNumb.min.js"></script>
    <script src="../static/plugins/wow/wow.js"></script>
    <script src="../static/plugins/isotope/isotope.js"></script>
    <script src="../static/plugins/countdown/countdown.min.js"></script>
    <script src="../static/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="../static/plugins/twentytwenty/twentytwenty.js"></script>
    <script src="../static/plugins/twentytwenty/jquery.event.move.js"></script>
    <script src="../static/plugins/parallax/parallax.min.js"></script>
    <script src="../static/plugins/tilt.js/tilt.jquery.js"></script>


    <script src="https://ditu.google.cn/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>

    <!-- template js -->
    <script src="../static/js/agriox.js"></script>


</body>

</html>