
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects Details</title>


    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="../static/images/favicons/site.webmanifest" />
    <meta name="description" content="Crsine HTML Template For Car Services" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shadows+Into+Light&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/plugins/animate/animate.min.css" />
    <link rel="stylesheet" href="../static/plugins/animate/custom-animate.css" />
    <link rel="stylesheet" href="../static/plugins/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../static/plugins/jarallax/jarallax.css" />
    <link rel="stylesheet" href="../static/plugins/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="../static/plugins/odometer/odometer.min.css" />
    <link rel="stylesheet" href="../static/plugins/swiper/swiper.min.css" />
    <link rel="stylesheet" href="../static/plugins/icomoon-icons/style.css">
    <link rel="stylesheet" href="../static/plugins/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="../static/plugins/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../static/plugins/twentytwenty/twentytwenty.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="../static/css/agriox.css"/>
    <link rel="stylesheet" href="../static/css/agriox-responsive.css"/>


</head>

<body>

    <div class="preloader">
        <img class="preloader__image" width="60" src="../static/images/loader.png" alt="" />
    </div>

    <!-- /.preloader -->
    <div class="page-wrapper">

        <header class="main-header main-header--one  clearfix">
            <div class="main-header--one__wrapper">


                <div class="main-header--one__bottom clearfix">
                    <div class="auto-container">
                        <div class="main-header--one__bottom-inner">
                            <nav class="main-menu main-menu--1">
                                <div class="main-menu__inner">
                                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

                                    <div class="stricky-one-logo">
                                        <div class="logo">
                                            <a href="../index"><img src="../static/images/logo/Logo-us-small.png" alt=""/></a>
                                        </div>
                                    </div>

                                    <div class="main-header--one__bottom-left">
                                        <ul class="main-menu__list">
                                            <li class="dropdown">
                                                <a href="../index">首页</a>

                                            </li>
                                            <li><a href="../trace">溯源</a></li>
                                            <li class="dropdown">
                                                <a href="../services">耕养运烹</a>
                                                <ul>

                                                    <li><li><a href="../sow">丰衣足食</a>
                                                    </li>
                                                    <li><a href="../transport">物流精密</a></li>
                                                    <li><a href="../cook">烹调艺术</a></li>
                                                    <li><a href="../effect">美味功效</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">发现</a>
                                                <ul>
                                                    <li><a href="../travel">旅游指南</a></li>
                                                    <li><a href="../kepu">作物科普</a></li>
                                                    <li><a href="../safety">食物安全查询</a></li>
                                                    <li><a href="../question">问题查询</a></li>
                                                    <li><a href="../Pet_shop">植宠商店</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="../policy">政策咨询</a>
                                                <ul>
                                                    <li><a href="../news">News</a></li>
                                                    <li><a href="../information">News Two</a></li>
                                                    <li><a href="../news-details">News Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="../contact">联系我们</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>

                            <div class="main-header--one__bottom-middel">
                                <div class="logo">
                                    <a href="../index"><img src="../static/images/logo/Logo-us-small.png" alt=""/></a>
                                </div>
                            </div>

                            <div class="main-header--one__bottom-right clearfix">
                                <div class="search-cart">
                                    <a href="#" class="search search-toggler"><span class="icon-magnifying-glass"></span></a>
                                    <a href="../Pet_shop" class="cart"><span class="icon-shopping-cart"></span></a>
                                </div>
                                <div class="contact-box">
                                <div class="">
                                    <a href="#"><i class="fa fa-user"
                                                   style="font-size: 35px;margin-top: 8px;margin-right:30px"></i></a>
                                </div>
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-body dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ request.session.info.name }}
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li style="margin-bottom: 10px"><a class="dropdown-item" href="#">注销</a></li>
                                            <li style="margin-bottom: 10px"><a class="dropdown-item" href="#">个人中心</a></li>

                                        </ul>
                                    </div>

                                </div>

                            </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </header>


        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content">

            </div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

    <!--Page Header Start-->
    <section class="page-header clearfix" style="background-image: url(../static/images/backgrounds/page-header-bg.jpg);">
        <div class="container">
            <div class="page-header__inner text-center clearfix">
                <ul class="thm-breadcrumb">
                    <li><a href="../index">首页</a></li>
                    <li>食品安全</li>
                </ul>
                <h2>食物安全，品味生活的诗篇</h2>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <!--Projects Details Start-->
    <section class="projects-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="projects-details__wrapper">
                        <div class="projects-details__img">
                            <img src="../static/images/safety/main_2.jpg" alt=""/>
                        </div>

                        <!--Projects Details Information Start-->
                        <div class="projects-details__information">
                            <ul>
                                <li>
                                    <h5>日期</h5>
                                    <p>10 03, 2024</p>
                                </li>

                                <li>
                                    <h5>天气</h5>
                                    <p>多云转阴 8-13°</p>
                                </li>

                                <li>
                                    <h5>国家网址</h5>
                                    <p><a href="https://www.cfsn.cn/hy/hy46/list.shtml">中国食品安全网.com</a></p>
                                </li>

                                <li>
                                    <h5>定位</h5>
                                    <p>中国-上海-长宁区</p>
                                </li>

                            </ul>
                        </div>
                        <!--Projects Details Information End-->

                        <div class="projects-details__text-box1">
                            <h2>食品安全，健康有态度。</h2>
                            <p class="text1">食品安全是人类生活中不可或缺的重要组成部分，直接关系到人们的身体健康和生命安全。保障食品安全不仅是政府和企业的责任，也是每个人的义务。不良的食品安全状况可能导致食源性疾病的爆发，给个人和社会带来严重的危害。因此，我们每个人都应该增强对食品安全的重视意识，遵循正确的食品安全指南，从源头抓起，保证食品的新鲜、清洁和安全，共同营造一个安全可靠的饮食环境，让健康成为我们生活的基石。</p>

                            <p class="text2">我们可以通过采取一系列措施来降低食品安全风险，并预防潜在的食源性疾病。从源头抓起，加强食品生产、加工和销售环节的监管和控制，确保食品的质量和安全；加强食品安全宣传教育，提高公众对食品安全的认识和重视程度；遵循正确的食品储存、处理和烹饪方法，减少食品交叉污染的机会；定期检查和清洁厨房用具、餐具等，保持食品加工环境的卫生。通过这些可防范性的举措，我们能够有效地保障食品安全，让健康成为我们生活的常态。</p>
                        </div>


                        <div class="projects-details__text-box2">
                            <h2>遵循指南，守护健康！</h2>
                            <p class="text1">食品安全指南是我们日常生活中至关重要的指导原则，它们为我们提供了保障食品安全的关键技巧和方法。通过注意食品清洁、正确储存和避免交叉污染等指南，我们能够最大程度地减少食源性疾病的风险，保护自己和家人的健康。</p>

                            <div class="projects-details__text-box2-list">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <p>保持食品清洁：在加工、储存和处理食物时，务必保持清洁卫生。洗手、清洗食材、清洗厨房用具等都是确保食品安全的关键步骤。</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <p>注意食品储存：正确储存食品可以减少细菌滋生的机会。遵循食品储存的原则，如分开存放生熟食物、冷藏生鲜食材等，有助于确保食品的新鲜度和安全性。</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <p> 避免食品交叉污染：食品交叉污染是导致食源性疾病的主要原因之一。在处理生熟食物时要格外小心，避免交叉使用刀具、砧板等器具，以及确保熟食物与生食物分开储存和加工。</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <p class="text2">这些指南不仅是个人生活中的必需品，也是企业和政府在食品加工、生产和监管方面的重要依据。遵循食品安全指南，我们能够建立起一个更加安全可靠的食品环境，让每一顿饭都成为健康和幸福的保障。</p>
                        </div>

                        <div class="projects-details__pagination clearfix">
                            <ul>
                                <li>
                                    <div class="previous">
                                        <p><a href="#"><span class="icon-right-arrow-2"></span>上一页</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="next">
                                        <p><a href="#">下一页 <span class="icon-right-arrow-2"></span></a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Projects Details End-->

        <!--Projects One Start-->
        <section class="projects-one">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <div class="icon">
                        <img src="../static/images/logo/Logo-us-small.png" alt="">
                    </div>
                    <span class="sec-title__tagline"></span>
                    <h2 class="sec-title__title">常见的易中毒时蔬</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="projects-one__carousel owl-carousel owl-theme owl-dot-type1">
                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/bolete_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>牛肝菌</p>
                                        <h3><a href="../safety">可能由误食有毒个体、食用过量或个体过敏引起，症状包括恶心、腹泻、头晕、皮疹等，应及时就医。确保采摘正确、彻底清洗烹饪、避免过量食用并注意个人过敏情况。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="100ms" data-wow-duration="500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/agaric_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>鲜木耳</p>
                                        <h3><a href="safety_details.html">含有一种卟啉类光感物质，人食用后，会随血液循环分布到人体表皮细胞中，受太阳照射后，会引发日光性皮炎。 这种有毒光感物质还易被咽喉黏膜吸收，导致咽喉水肿。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="200ms" data-wow-duration="500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/daylily_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>黄花菜</p>
                                        <h3><a href="../safety">菜中含有秋水仙碱,进入人体后经氧化便会产生有毒物质，使人发生中毒，出现腹痛、腹泻、呕吐等类似急性胃肠炎的症状。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="300ms" data-wow-duration="500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/horsebean_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>蚕豆</p>
                                        <h3><a href="../safety">多数蚕豆中毒发病于餐后5~24小时.曾有死亡报道.中毒症状有乏力，头晕，肠胃不适，黄疸，呕吐，腰痛等。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms" data-wow-duration="500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/bolete_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>牛肝菌</p>
                                        <h3><a href="../safety">可能由误食有毒个体、食用过量或个体过敏引起，症状包括恶心、腹泻、头晕、皮疹等，应及时就医。确保采摘正确、彻底清洗烹饪、避免过量食用并注意个人过敏情况。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="100ms" data-wow-duration="500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/agaric_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>鲜木耳</p>
                                        <h3><a href="safety_details.html">含有一种卟啉类光感物质，人食用后，会随血液循环分布到人体表皮细胞中，受太阳照射后，会引发日光性皮炎。 这种有毒光感物质还易被咽喉黏膜吸收，导致咽喉水肿。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->


                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="200ms" data-wow-duration="500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/daylily_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>黄花菜</p>
                                        <h3><a href="../safety">菜中含有秋水仙碱,进入人体后经氧化便会产生有毒物质，使人发生中毒，出现腹痛、腹泻、呕吐等类似急性胃肠炎的症状。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="300ms" data-wow-duration="500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/horsebean_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>蚕豆</p>
                                        <h3><a href="../safety">多数蚕豆中毒发病于餐后5~24小时.曾有死亡报道.中毒症状有乏力，头晕，肠胃不适，黄疸，呕吐，腰痛等。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="0ms" data-wow-duration="500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/bolete_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>牛肝菌</p>
                                        <h3><a href="../safety">可能由误食有毒个体、食用过量或个体过敏引起，症状包括恶心、腹泻、头晕、皮疹等，应及时就医。确保采摘正确、彻底清洗烹饪、避免过量食用并注意个人过敏情况。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="100ms" data-wow-duration="500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/agaric_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>鲜木耳</p>
                                        <h3><a href="safety_details.html">含有一种卟啉类光感物质，人食用后，会随血液循环分布到人体表皮细胞中，受太阳照射后，会引发日光性皮炎。 这种有毒光感物质还易被咽喉黏膜吸收，导致咽喉水肿。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="200ms" data-wow-duration="500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/daylily_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>黄花菜</p>
                                        <h3><a href="../safety">菜中含有秋水仙碱,进入人体后经氧化便会产生有毒物质，使人发生中毒，出现腹痛、腹泻、呕吐等类似急性胃肠炎的症状。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->

                            <!--Start Single Projects One-->
                            <div class="projects-one__single wow fadeInUp" data-wow-delay="300ms" data-wow-duration="500ms">
                                <div class="projects-one__single-img">
                                    <img src="../static/images/safety/horsebean_1.jpg" alt=""/>
                                    <div class="overlay-content">
                                        <p>蚕豆</p>
                                        <h3><a href="../safety">多数蚕豆中毒发病于餐后5~24小时.曾有死亡报道.中毒症状有乏力，头晕，肠胃不适，黄疸，呕吐，腰痛等。</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Projects One-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Projects One End-->



    <!--Start Footer One-->
    <footer class="footer-one">
            <div class="footer-one__top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-one__top-wrapper">
                                <div class="footer-one__bg"><img src="../static/images/backgrounds/footer-one-bg.png"
                                                                 alt=""/></div>
                                <div class="row">
                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s">
                                        <div class="footer-widget__column footer-widget__about">
                                            <div class="footer-widget__about-logo">
                                                <a href="../index"><img
                                                        src="../static/images/logo/logo-us-medium.png"
                                                        alt=""></a>
                                            </div>
                                            <p class="footer-widget__about-text">食为人天，农为正本。</p>
                                            <div class="footer-widget__about-contact-box">
                                                <p class="phone"><a href="tel:123456789"><i
                                                        class="fas fa-phone-square-alt"></i>+86 XXX-XXXX-XXXX</a></p>
                                                <p><a href="mailto:needhelp@company.com"><i
                                                        class="fa fa-envelope"></i>Shiyuanzhilv@SYZL.com</a></p>
                                                <p class="text"><i class="fas fa-map-marker-alt"></i>中国-上海</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s">
                                        <div class="footer-widget__column footer-widget__news">
                                            <h2 class="footer-widget__title">最新资讯</h2>
                                            <ul class="footer-widget__news-list">
                                                <li class="footer-widget__news-list-item">
                                                    <div class="footer-widget__news-list-item-img">
                                                        <img src="../static/images/resources/trace_bottom_1.png"
                                                             alt=""/>
                                                    </div>
                                                    <div class="footer-widget__news-list-item-title">
                                                        <p>4 March, 2024</p>
                                                        <h5><a href="https://www.moa.gov.cn/xw/qg/202403/t20240304_6450629.htm" target="_blank">“国字号”现代农业产业园带<br> 动作用有多强</a></h5>
                                                    </div>
                                                </li>

                                                <li class="footer-widget__news-list-item">
                                                    <div class="footer-widget__news-list-item-img">
                                                        <img src="../static/images/resources/trace_bottom_2.png"
                                                             alt=""/>
                                                    </div>
                                                    <div class="footer-widget__news-list-item-title">
                                                        <p>4 March, 2024</p>
                                                        <h5><a href="https://www.moa.gov.cn/xw/qg/202403/t20240304_6450592.htm" target="_blank">春种一粒粟 秋收万颗子——<br> 北京海淀区植物组织培养技<br>术实验室育种核心技术助力<br>春播备耕</a></h5>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-2 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.5s">
                                        <div class="footer-widget__column footer-widget__explore">
                                            <h2 class="footer-widget__title">探索更多</h2>
                                            <ul class="footer-widget__explore-list">
                                                <li class="footer-widget__explore-list-item"><a href="../kepu">菜 品 溯 源</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="../services">食 品 安 全</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="../templates/about.html">特 色 种 植</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="#">高 新 作 物</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="#">科 技 前 沿</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-4 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.7s">
                                        <div class="footer-widget__column footer-widget__newletter">
                                            <h2 class="footer-widget__title">站点帮助</h2>
                                            <p class="footer-widget__newletter-text">在下方输入站点名称或相关信息，即可帮助您快速到达本网站各处！</p>
                                            <form class="subscribe-form" action="#">
                                                <input type="text" name="text" placeholder="输入站点">
                                                <button type="submit">Go</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Start Footer One Bottom-->

            <!--End Footer One Bottom-->
        </footer>
    <!--End Footer One-->


    </div><!-- /.page-wrapper -->

<!-- /.12 -->
    <div id="main" style="width: 100%;height: 100%"></div>
    <!-- /.12 -->

    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="../index" aria-label="logo image"><img src="../static/images/resources/mobilemenu_logo.png" width="155" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="icon-phone-call"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@agriox.com</a>
                </li>
                <li>
                    <i class="icon-letter"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->
        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->



    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn2">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->



    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow-2"></i></a>

    <script src="../static/echarts/echarts.min.js"></script>





    <script src="../static/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/plugins/jarallax/jarallax.min.js"></script>
    <script src="../static/plugins/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="../static/plugins/jquery-appear/jquery.appear.min.js"></script>
    <script src="../static/plugins/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="../static/plugins/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../static/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="../static/plugins/nouislider/nouislider.min.js"></script>
    <script src="../static/plugins/odometer/odometer.min.js"></script>
    <script src="../static/plugins/swiper/swiper.min.js"></script>
    <script src="../static/plugins/tiny-slider/tiny-slider.min.js"></script>
    <script src="../static/plugins/wnumb/wNumb.min.js"></script>
    <script src="../static/plugins/wow/wow.js"></script>
    <script src="../static/plugins/isotope/isotope.js"></script>
    <script src="../static/plugins/countdown/countdown.min.js"></script>
    <script src="../static/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="../static/plugins/twentytwenty/twentytwenty.js"></script>
    <script src="../static/plugins/twentytwenty/jquery.event.move.js"></script>
    <script src="../static/plugins/parallax/parallax.min.js"></script>
    <script src="../static/plugins/tilt.js/tilt.jquery.js"></script>


    <script src="https://ditu.google.cn/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>

    <!-- template js -->
    <script src="../static/js/agriox.js"></script>

    <script>

    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    var option;

    myChart.showLoading();
    $.getJSON( '../static/les-miserables.json', function (graph) {
        myChart.hideLoading();
        graph.nodes.forEach(function (node) {
            node.label = {
                show: node.symbolSize > 30
            };
        });
        option = {
            title: {
                text: 'Les Miserables',
                subtext: 'Circular layout',
                top: 'bottom',
                left: 'right'
            },
            tooltip: {},
            legend: [
                {
                    data: graph.categories.map(function (a) {
                        return a.name;
                    })
                }
            ],
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'quinticInOut',
            series: [
                {
                    name: 'Les Miserables',
                    type: 'graph',
                    layout: 'circular',
                    circular: {
                        rotateLabel: true
                    },
                    data: graph.nodes,
                    links: graph.links,
                    categories: graph.categories,
                    roam: true,
                    label: {
                        position: 'right',
                        formatter: '{b}'
                    },
                    lineStyle: {
                        color: 'source',
                        curveness: 0.3
                    }
                }
            ]
        };
        myChart.setOption(option);
    });

    option && myChart.setOption(option);


</script>


</body>

</html>